.input {
    height: 50px;
    outline: none;
    padding: 5px 10px;
    border: 1px solid lightgray;
    font-size: 1rem;
    background-color: $lightgray;
    border-radius: 2px;

    &:focus {
        border-color: $info;
        transition: all .2s ease-in-out;
        background-color: transparent;
    }

    &:hover {
        border-color: $info;
        transition: all .2s ease-in-out;
    }

    .small {
        font-size: .8rem !important;
    }
}

.input-field {
    margin: 5px;

    &.lifted:not(.disabled) {
        .input-container {
            box-shadow: 0 0 4px rgba(black, .2);
        }
    }

    &.disabled {
        .input-container,
        input,
        textarea {
            cursor: not-allowed;
        }
    }

    &.rounded {
        .input-container {
            border-radius: 60px;
        }
    }

    &.smooth {
        .input-container {
            border-radius: $radius * 2;
        }
    }

    &:not(.rounded):not(.smooth) {
        .input-container {
            border-radius: $radius;
        }
    }

    &.uppercase {
        input,
        textarea {
            text-transform: uppercase;
            font-size: .8rem;
        }
    }

    & > label {
        display: block;
        font-size: .8rem;
        user-select: none;
        -moz-user-select: none;
        transition: all .2s ease-in-out;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        padding: 2px 0;
        color: $dark;
    }

    &:not(.medium):not(.large) {
        .input-container {
            input,
            textarea {
                height: $defaultSize;
                padding: 0 5px;
                font-size: 1rem;
            }

            svg {
                min-width: 18px;
                min-height: 18px;
                width: 18px;
                height: 18px;
            }
        }
    }

    &.medium {
        .input-container {
            input {
                height: $mediumSize;
                padding: 0 8px;
                font-size: 1.1rem;
            }

            svg {
                min-width: 20px;
                min-height: 20px;
                width: 20px;
                height: 20px;
            }
        }
    }

    &.large {
        .input-container {
            input {
                height: $largeSize;
                padding: 0 10px;
                font-size: 1.3rem;
            }

            svg {
                min-width: 24px;
                min-height: 24px;
                width: 24px;
                height: 24px;
            }
        }
    }

    .input-field__hint {
        font-size: .8rem;
        color: $dark;
    }

    &.primary {
        label.active {
            color: $primary;
        }

        .input-container:hover {
            border-color: $primary;
            background-color: #fff;
            transition: all .2s ease-in-out;

            i {
                svg {
                    path {
                        fill: $primary;
                        transition: all .2s ease-in-out;
                    }
                }
            }
        }

        .input-container.focus {
            border-color: $primary;
            background-color: #fff;
            transition: all .2s ease-in-out;

            svg:first-child {
                path {
                    fill: $primary;
                    transition: all .2s ease-in-out;
                }
            }
        }
    }

    i {
        svg {
            path {
                fill: gray;
            }
        }
    }
    
    &.info {
        label.active {
            color: $info;
        }

        .input-container:hover {
            border-color: $info;
            background-color: #fff;
            transition: all .2s ease-in-out;

            i {
                svg {
                    path {
                        fill: $info;
                        transition: all .2s ease-in-out;
                    }
                }
            }
        }

        .input-container.focus {
            border-color: $info;
            background-color: #fff;
            transition: all .2s ease-in-out;

            svg:first-child,
            svg:last-child {
                path {
                    fill: $info;
                    transition: all .2s ease-in-out;
                }
            }
        }
    }

    &.error {
        label.active {
            color: $error;
        }

        .input-container:hover {
            border-color: $error;
            background-color: #fff;
            transition: all .2s ease-in-out;

            i {
                svg {
                    path {
                        fill: $error;
                        transition: all .2s ease-in-out;
                    }
                }
            }
        }

        .input-container.focus {
            border-color: $error;
            background-color: #fff;
            transition: all .2s ease-in-out;

            svg:first-child,
            svg:last-child {
                path {
                    fill: $error;
                    transition: all .2s ease-in-out;
                }
            }
        }
    }

    &.success {
        label.active {
            color: $success;
        }

        .input-container:hover {
            border-color: $success;
            background-color: #fff;
            transition: all .2s ease-in-out;

            i {
                svg {
                    path {
                        fill: $success;
                        transition: all .2s ease-in-out;
                    }
                }
            }
        }

        .input-container.focus {
            border-color: $success;
            background-color: #fff;
            transition: all .2s ease-in-out;

            svg:first-child,
            svg:last-child {
                path {
                    fill: $success;
                    transition: all .2s ease-in-out;
                }
            }
        }
    }
    
    .input-container {
        display: inline-flex;
        align-items: center;
        width: 100%;
        border: 1px solid lightgray;
        background-color: $lightgray;
        outline: none;
        overflow: hidden;

        .btn {
            border-radius: 0;
        }
        
        svg:first-child {
            margin-left: 5px;
        }

        svg:last-child {
            margin-right: 5px;
        }
    
        & > input,
        & > textarea {
            outline: none;
            border: none;
            background-color: transparent;
            width: 100%;
        }
    
        & > i {
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-right: 5px;
            z-index: 2;

            svg {
                margin-right: 0 !important;
            }
        }
    }
}

.input-uploader {
    width: 100%;
    margin: 5px 0;

    .input-uploader__container {
        width: 100%;
        position: relative;
        display: flex;
        align-items: center;
        border: 1px solid lightgray;
        background-color: $lightgray;

        &.lifted {
            box-shadow: 0 0 4px rgba(black, .2);
        }

        &:not(.disabled) {
            cursor: pointer;

            label, i {
                cursor: pointer;
            }
        }

        &.disabled {
            cursor: not-allowed;

            label, i {
                cursor: not-allowed;
            }
        }

        &:not(.rounded):not(.smooth) {
            border-radius: $radius;
        }

        &.rounded {
            border-radius: 60px;
        }

        &.smooth {
            border-radius: $radius * 2;
        }

        &:not(.medium):not(.large) {
            height: $defaultSize;
        }

        &.medium {
            height: $mediumSize;

        }

        &.large {
            height: $largeSize;
        }

        &:hover {
            transition: all .2s ease-in-out;

            label {
                transition: all .2s ease-in-out;
            }

            path {
                transition: all .2s ease-in-out;
            }
        }

        &.info {
            &:hover {
                border-color: $info;
        
                label {
                    color: $info;
                }

                path {
                    fill: $info;
                }
            }
        }
        
        &.primary {
            &:hover {
                border-color: $primary;
        
                label {
                    color: $primary;
                }

                path {
                    fill: $primary;
                }
            }
        }

        &.success {
            &:hover {
                border-color: $success;
        
                label {
                    color: $success;
                }

                path {
                    fill: $success;
                }
            }
        }

        &.error {
            &:hover {
                border-color: $error;
        
                label {
                    color: $error;
                }

                path {
                    fill: $error;
                }
            }
        }

        i {
            margin: 0 5px;
            svg {
                path {
                    fill: gray;
                }
            }
        }

        span {
            font-size: .9rem;
            color: gray;
        }

        label {
            display: block;
            width: calc(100% - 50px);
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
        }

        input {
            position: absolute;
            top: 0;
            left: 0;
            outline: none;
            opacity: 0;
            width: 100%;
            height: 100%;

            &:not(:disabled) {
                cursor: pointer;
            }

            &:disabled {
                cursor: not-allowed;
            }
        }
    }

    .input-uploader__items {
        margin-top: 5px;
        border: 1px solid lightgray;
        overflow: hidden;

        &:not(.rounded) {
            border-radius: $radius;
        }
    
        &.rounded {
            border-radius: 10px;
        }
    }

    .input-uploader__item {
        padding: 5px 0;
        padding-left: 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid lightgray;
        

        & > span {
            width: calc(100% - 30px);
            color: $dark;
            font-size: .9rem;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
            user-select: none;
        }

        &:last-child {
            border-bottom: none;
        }

        &:hover {
            background-color: $lightgray;
            transition: all .2s ease-in-out;
        }

        i {
            margin: 0 5px;
            cursor: pointer;
            svg {
                path {
                    fill: $error;
                }
            }
        }
    }
}