.btn {
    padding: 8px;
    text-align: center;
    cursor: pointer;
    user-select: none;
    -moz-user-select: none;
    border: none;
    outline: none;
    min-width: 100px;
    border-radius: $radius;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid transparent;
    font-size: .9rem;

    &:not(.icon):not(.medium):not(.large) {
        height: 35px;
    }

    &.uppercase {
        text-transform: uppercase;
        font-size: .75rem;
    }

    & > span {
        height: 100%;
    }

    &.smooth {
        border-radius: 6px;
    }

    &.medium {
        padding: 15px 10px;
        font-size: 1rem;

        &.uppercase {
            font-size: .8rem;
        }
    }

    &.large {
        padding: 20px 15px;
        font-size: 1.1rem;

        &.uppercase {
            font-size: .9rem;
        }
    }

    &.small.icon {
        min-width: 30px;
        min-height: 30px;
        max-width: 30px;
        max-height: 30px;
        width: 30px;
        height: 30px;
    }

    &.disabled {
        cursor: not-allowed;
        box-shadow: none;
        background-color: $gray;
        border-color: $gray;
        color: $dark;
        box-shadow: none;
    }

    &:active:not(:disabled) {
        box-shadow: 0 2px 5px rgba(black, .3);
    }

    &.primary {
        background-color: $primary;
        border: 1px solid $primary;
        color: #fff;

        &:hover {
            background-color: darken($primary, 10%);
        }

        svg {
            width: 14px;
            height: 14px;
        }

        path {
            fill: #fff;
        }
    }

    &.primary.outlined {
        background-color: #fff;
        border-color: $primary;
        color: $primary;

        &:hover {
            transition: all .2s ease-in-out;
            background-color: $primary;
            color: #fff;

            path {
                fill: #fff;
                transition: all .2s ease-in-out;
            }
        }

        path {
            fill: $primary;
        }
    }

    &.secondary {
        background-color: $gray;
        border: 1px solid $gray;

        &:hover {
            background-color: darken($gray, 10%);
        }
    }

    &.secondary.outlined {
        background-color: #fff;
        border-color: $gray;
        color: $gray;

        &:hover {
            transition: all .2s ease-in-out;
            background-color: $gray;
            color: $dark;

            path {
                fill: #fff;
                transition: all .2s ease-in-out;
            }
        }

        path {
            fill: $dark;
        }
    }

    &.info {
        background-color: $info;
        border: 1px solid $info;
        color: #fff;

        &:hover {
            background-color: darken($info, 10%);
        }

        path, polygon {
            fill: #fff;
        }
    }

    &.info.outlined {
        background-color: #fff;
        border-color: $info;
        color: $info;

        &:hover {
            background-color: $info;
            color: #fff;
            transition: all .2s ease-in-out;

            path, polygon {
                fill: #fff;
            }
        }

        path {
            fill: $info;
        }
    }

    &.success {
        background-color: $success;
        border: 1px solid $success;
        color: #fff;

        &:hover {
            background-color: darken($success, 10%);
        }

        path {
            fill: #fff;
        }
    }

    &.success.outlined {
        border-color: $success;
        background-color: #fff;
        color: $success;

        &:hover {
            color: #fff;
            background-color: $success;
            transition: all .2s ease-in-out;

            path {
                fill: #fff;
            }
        }

        path {
            fill: $success;
        }
    }

    &.error {
        background-color: $error;
        border: 1px solid $error;
        color: #fff;

        &:hover {
            background-color: darken($error, 10%);
            transition: all .2s ease-in-out;
        }

        path {
            fill: #fff;
        }
    }

    &.error.outlined {
        border-color: $error;
        background-color: #fff;
        color: $error;

        &:hover {
            color: #fff;
            background-color: $error;
            transition: all .2s ease-in-out;

            path {
                fill: #fff;
            }
        }

        path {
            fill: $error;
        }
    }

    &.black {
        background-color: $dark;
        border-color: $dark;
        color: #fff;

        &:hover {
            background-color: darken($dark, 10%);
        }

        path {
            fill: #fff;
        }
    }

    &.light {
        border-color: transparent;
        background-color: transparent;
        color: $dark;

        &:hover {
            transition: all .2s ease-in-out;
            background-color: $lightgray;
        }

        path {
            fill: $dark;
        }
    }

    &.dark {
        border-color: transparent;
        background-color: transparent;
        color: $dark;

        &:hover {
            transition: all .2s ease-in-out;
            background-color: rgba($lightgray, .3);
        }

        path {
            fill: #fff;
        }
    }

    &.block {
        width: 100%;
    }

    &.rounded {
        border-radius: 60px;
    }

    &.icon {
        padding: 0;
        min-width: 36px;
        height: 36px;
        width: 0;
        border-radius: 50%;
    }
}