.rui-calendar {
    background-color: #fff;

    &.dark {
        background-color: $night;
        th, td {
            color: #fff;
        }

        td {
            &.weekend,
            &.weekend.holiday,
            &.weekend.active {
                background-color: gray !important;
            }
        }
    }

    .rui-calendar__title {
        & > span {
            font-weight: bold;
            font-size: 1em;
        }
    }

    .rui-calendar__body {
        width: 100%;
        border: 1px solid lightgray; 
        border-radius: $radius; 
        border-collapse: collapse;

        th {
            padding: 10px;
            width: 14.285%;
        }

        td {
            position: relative;

            .rui-calendar__events {
                position: absolute;
                bottom: 2px;
                display: flex;
                flex-wrap: wrap;
                align-items: center;
            }

            .rui-calendar__event {
                width: 9px;
                height: 9px;
                border-radius: 50%;
                margin: 0 2px;
            }

            &.active,
            &.active.dark {
                text-decoration: underline;
                color: transparent;
    
                &::after {
                    position: absolute;
                    content: attr(name);
                    display: inline-flex;
                    align-items: center;
                    justify-content: center;
                    top: calc(50% - 10px);
                    left: calc(50% - 10px);
                    height: 20px;
                    width: 20px;
                    border-radius: 50%;
                    font-size: inherit;
                    font-weight: bold;
                    color: #fff;
                }

                &:hover {
                    color: transparent;
                    text-decoration: none;
                }
            }

            &.today,
            &.today.dark {
                text-decoration: underline;
                color: transparent;
    
                &::after {
                    position: absolute;
                    content: attr(name);
                    display: inline-flex;
                    align-items: center;
                    justify-content: center;
                    top: calc(50% - 11px);
                    left: calc(50% - 11px);
                    height: 20px;
                    width: 20px;
                    border: 1px solid;
                    border-radius: 50%;
                    font-size: inherit;
                    font-weight: bold;
                }

                &:hover {
                    color: transparent;
                    text-decoration: none;
                }
            }

            &.disabled {
                cursor: not-allowed !important;
                text-decoration: none;
                opacity: .4;
                user-select: none;
                -webkit-user-select: none;

                &:hover {
                    outline: none !important;
                }
            }

            &.holiday {
                color: $error !important;
            }

            &.weekend,
            &.weekend.holiday,
            &.weekend.active {
                background-color: $lightgray;
            }
        }
    }

    &.primary,
    &.primary.dark {
        th {
            color: $primary;
        }

        .rui-calendar__event {
            background-color: $primary;
        }

        td:hover:not(.none) {
            cursor: pointer;
            outline: 1px solid $primary;
            outline-offset: -1px;
        }

        td:hover:not(.active):not(.none):not(.today):not(.disabled) {
            color: $primary;
        }

        td.active {
            &::after {
                background-color: $primary;
            }
        }

        td.today {
            &::after {
                color: $primary;
                border-color: $primary;
            }
        }
    }

    &.info,
    &.info.dark {
        th {
            color: $info;
        }

        td:hover:not(.none) {
            cursor: pointer;
            outline: 1px solid $info;
            outline-offset: -1px;
        }

        td:hover:not(.active):not(.none):not(.today):not(.disabled) {
            color: $info;
        }

        td.active {
            &::after {
                background-color: $info;
            }
        }

        td.today {
            &::after {
                color: $info;
                border-color: $info;
            }
        }

        .rui-calendar__event {
            background-color: $info;
        }
    }

    &.success,
    &.success.dark {
        th {
            color: $success;
        }

        td:hover:not(.none) {
            cursor: pointer;
            outline: 1px solid $success;
            outline-offset: -1px;
        }

        td:hover:not(.active):not(.none):not(.today):not(.disabled) {
            color: $success;
        }

        td.active {
            &::after {
                background-color: $success;
            }
        }

        td.today {
            &::after {
                color: $success;
                border-color: $success;
            }
        }

        .rui-calendar__event {
            background-color: $success;
        }
    }

    &.error {
        th {
            color: $error;
        }

        td:hover:not(.none) {
            cursor: pointer;
            outline: 1px solid $error;
            outline-offset: -1px;
        }

        td:hover:not(.active):not(.none):not(.today):not(.disabled) {
            color: $error;
        }

        td.active {
            &::after {
                background-color: $error;
            }
        }

        td.today {
            &::after {
                color: $error;
                border-color: $error;
            }
        }

        .rui-calendar__event {
            background-color: $error;
        }
    }

    &.black {
        th {
            color: $dark;
        }

        td:hover:not(.none) {
            cursor: pointer;
            outline: 1px solid $dark;
            outline-offset: -1px;
        }

        td:hover:not(.active):not(.none):not(.today):not(.disabled) {
            color: $dark;
        }

        td.active {
            &::after {
                background-color: $dark;
            }
        }

        td.today {
            &::after {
                color: $dark;
                border-color: $dark;
            }
        }

        .rui-calendar__event {
            background-color: $dark;
        }
    }

    &:not(.medium):not(.large) {
        .rui-calendar__body {
            th {
                padding: 10px;
                min-width: 45px;
                font-size: $defaultFont;
                border: 1px solid lightgray;
            }
    
            td {
                height: 45px;
                min-width: 45px;
                border: 1px solid lightgray;
                text-align: center;
                font-size: $defaultFont;
            }
        }
    }

    &.medium {
        .rui-calendar__body {
            th {
                padding: 10px;
                min-width: 50px;
                font-size: $mediumFont;
                border: 1px solid lightgray;
            }
    
            td {
                height: 50px;
                min-width: 50px;
                border: 1px solid lightgray;
                text-align: center;
                font-size: $mediumFont;
            }
        }
    }

    &.large {
        .rui-calendar__body {
            th {
                padding: 10px;
                min-width: 55px;
                font-size: $largeFont;
                border: 1px solid lightgray;
            }
    
            td {
                height: 55px;
                min-width: 55px;
                border: 1px solid lightgray;
                text-align: center;
                font-size: $largeFont;
            }
        }
    }

    .rui-calendar__header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 5px;
    }

    .rui-calendar__footer {

    }
}