.rui-card {
    border: 1px solid transparent;
    border-radius: $radius * 2;
    padding: 15px;
    margin: 5px 0;

    &.dark {
        background-color: $night;
        border-color: $night;
        box-shadow: 0 0 5px rgba(black, .6);

        .rui-card-header {
            color: #fff;
        }
    }

    &.flat {
        border-color: lightgray;
    }

    &:not(.flat):not(.outlined):not(.dark) {
        box-shadow: 0 0 3px rgba(black, .6);
    }

    &.hover {
        cursor: pointer;
        
        &:hover {
            box-shadow: 0 1px 10px rgba(black, .3) !important;
            transition: all .3s ease-in-out;
        }
    }

    &.dense {
        padding: 10px;
    }

    img {
        display: block;
        margin: 0 auto;
        padding-bottom: 5px;
        border-bottom: 1px solid lightgray;
    }

    &.outlined {
        border-color: $dark;
        position: relative;
        margin-top: 15px;

        .rui-card-title {
            position: absolute;
            top: -13px;
            left: 15px;
            font-size: 1rem;
            padding: 3px 5px;
            background-color: #fff;
            font-weight: 600;
            color: $dark;
            border-radius: 30px;
        }
    }

    &.info {
        border-color: $info;

        .rui-card-title {
            color: $info;
        }
    }

    &.primary {
        border-color: $primary;

        .rui-card-title {
            color: $primary;
        }
    }

    &.success {
        border-color: $success;

        .rui-card-title {
            color: $success;
        }
    }

    &.error {
        border-color: $error;

        .rui-card-title {
            color: $error;
        }
    }

    &.gray.outlined {
        border-color: gray;

        .rui-card-title {
            color: gray;
        }
    }
}

.rui-card-header {
    padding: 10px 0;
    font-weight: bold;
}

.rui-card-footer {
    padding: 5px 0;
    font-size: .8rem;
    color: $dark;
}