.checkbox-wrapper {
    display: flex;
    align-items: center;
}

.checkbox {
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;
    color: gray;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    height: 18px;
    width: 18px;
    margin: 3px;

    &:hover input ~ span {
        background-color: $light;
    }

    input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
    }

    input:disabled ~ span {
        cursor: not-allowed;
        transform: none;
        background-color: $light;
    }

    & input:checked ~ span {
        background-color: $light;
    }

    & input:checked ~ span:after {
        display: block;
    }

    & > span {  
        position: absolute;
        top: 0;
        left: 0;
        height: 18px;
        width: 18px;
        background-color: $lightgray;
        border: 1px solid gray;
        border-radius: 2px;
    }

    & > span:active {
        transform: scale(.98);
        box-shadow: 0 1px 5px rgba(black, .3);;
    }

    & > span:after {
        content: "";
        position: absolute;
        display: none;
    }

    & > span:after {
        left: 3.5px;
        top: -2px;
        width: 6px;
        height: 12px;
        border: solid $dark;
        border-width: 0 3px 3px 0;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
    }

    &.disabled {
        & > span:after {
            border-color: lightgray;
        }
        
        & > span {
            border-color: lightgray;
        }
    }

    &.info {
        & > span:after {
            border-color: $info;
        }
        
        & > span {
            border-color: $info;
        }

        .checkbox-label {
            color: $info;
        }
    }

    &.primary {
        & > span:after {
            border-color: $primary;
        }

        & > span {
            border-color: $primary;
        }
    }

    &.success {
        & > span:after {
            border-color: $success;
        }

        & > span {
            border-color: $success;
        }
    }

    &.error {
        & > span:after {
            border-color: $error;
        }

        & > span {
            border-color: $error;
        }
    }
}

.checkbox-label {
    margin-left: 2px;
    cursor: pointer;
    font-size: .9rem;
    user-select: none;
    -moz-user-select: none;

    &.disabled {
        color: lightgray;
    }

    &.info {
        color: $info;
    }

    &.primary {
        color: $primary;
    }

    &.success {
        color: $success;
    }

    &.error {
        color: $error;
    }
}