.rui-checkbox-wrapper {
    display: flex;
    align-items: center;
}

.rui-checkbox {
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;
    color: gray;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin: 3px;

    &:not(.medium):not(.large) {
        height: 16px;
        width: 16px;

        & > span {  
            height: 16px;
            width: 16px;
        }

        & > span:after {
            left: 3.5px;
            top: 0px;
            width: 4px;
            height: 10px;
            border-width: 0 2.3px 2.3px 0;
        }
    }

    &.medium {
        height: 18px;
        width: 18px;

        & > span {  
            height: 18px;
            width: 18px;
        }

        & > span:after {
            left: 4px;
            top: -1px;
            width: 5px;
            height: 12px;
            border-width: 0 2.3px 2.3px 0;
        }
    }

    &.large {
        height: 20px;
        width: 20px;

        & > span {  
            height: 20px;
            width: 20px;
        }

        & > span:after {
            left: 5.5px;
            top: -1px;
            width: 5px;
            height: 15px;
            border-width: 0 2.5px 2.5px 0;
        }
    }

    &:hover input ~ span {
        background-color: $light;
    }

    input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
    }

    input:disabled ~ span {
        cursor: not-allowed;
        transform: none;
    }

    & input:checked ~ span {
        background-color: $light;
    }

    & input:checked ~ span:after {
        display: block;
    }

    & > span {  
        position: absolute;
        top: 0;
        left: 0;
        border: 1px solid gray;
        border-radius: $radius;
    }

    &:not(.disabled) > span:active {
        transform: scale(.98);
    }

    & > span:after {
        content: "";
        position: absolute;
        display: none;
    }

    & > span:after {
        border: solid gray;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
    }

    &.disabled {
        & > span:after {
            border-color: lightgray;
        }
        
        & > span {
            border-color: lightgray;
        }
    }

    &.secondary {
        &.fill {
            span {
                background-color: rgba(gray, .1);
            }

            & > span:after {
                border-color: #fff;
            }

            & > input:checked ~ span {
                background-color: gray;
            }
        }

        & > span:after {
            border-color: gray;
        }
        
        & > span {
            border-color: gray;
        }

        .rui-checkbox-label {
            color: gray;
        }

        &:not(.disabled) > span:active {
            box-shadow: 0 0 5px rgba(gray, .3);
        }
    }

    &.info {
        &.fill {
            span {
                background-color: rgba($info, .1);
            }

            & > span:after {
                border-color: #fff;
            }

            & > input:checked ~ span {
                background-color: $info;
            }
        }

        & > span:after {
            border-color: $info;
        }
        
        & > span {
            border-color: $info;
        }

        .rui-checkbox-label {
            color: $info;
        }

        &:not(.disabled) > span:active {
            box-shadow: 0 0 5px rgba($info, .3);
        }
    }

    &.primary {
        &.fill {
            span {
                background-color: rgba($primary, .1);
            }

            & > span:after {
                border-color: #fff;
            }

            & > input:checked ~ span {
                background-color: $primary;
            }
        }

        & > span:after {
            border-color: $primary;
        }

        & > span {
            border-color: $primary;
        }

        .rui-checkbox-label {
            color: $primary;
        }

        &:not(.disabled) > span:active {
            box-shadow: 0 0 5px rgba($primary, .3);
        }
    }

    &.success {
        &.fill {
            span {
                background-color: rgba($success, .1);
            }

            & > span:after {
                border-color: #fff;
            }

            & > input:checked ~ span {
                background-color: $success;
            }
        }

        & > span:after {
            border-color: $success;
        }

        & > span {
            border-color: $success;
        }

        .rui-checkbox-label {
            color: $success;
        }

        &:not(.disabled) > span:active {
            box-shadow: 0 0 5px rgba($success, .3);
        }
    }

    &.error {
        &.fill {
            span {
                background-color: rgba($error, .1);
            }

            & > span:after {
                border-color: #fff;
            }

            & > input:checked ~ span {
                background-color: $error;
            }
        }

        & > span:after {
            border-color: $error;
        }

        & > span {
            border-color: $error;
        }

        .rui-checkbox-label {
            color: $error;
        }

        &:not(.disabled) > span:active {
            box-shadow: 0 0 5px rgba($error, .3);
        }
    }

    &.disabled {
        &.fill {
            span {
                background-color: lightgray;
            }

            & > span:after {
                border-color: #fff;
            }
        }

        & > span:after {
            border-color: lightgray;
        }

        & > span {
            border-color: lightgray;
        }

        .rui-checkbox-label {
            color: lightgray;
        }
    }
}

.rui-checkbox-label {
    margin-left: 2px;
    cursor: pointer;
    font-size: .9rem;
    user-select: none;
    -moz-user-select: none;

    &.disabled {
        color: lightgray !important;
        cursor: not-allowed;
    }

    &.secondary {
        color: gray;
    }

    &.info {
        color: $info;
    }

    &.primary {
        color: $primary;
    }

    &.success {
        color: $success;
    }

    &.error {
        color: $error;
    }
}