$night: #303846;
$light: #fafafa;
$lightgray: #f0f2f5;
$dark: #4d4d4d;
$gray: #e0e0e0;
$info: #42a5f5;
$primary: #1976d2;
$error: #f44336;
$success: #43a047;
$yellow: #feda24;
$warning: #ff3d00; 
$react: #61dafb;
$radius: 4px;

.text-white {
    color: #fff;
}

.text-info {
    color: $info;
}

.text-lightgray {
    color: $lightgray;
}

.bg-night {
    background-color: $night;
}