.rui-collapse {
    margin: 5px 0;

    &.bordered {
        border: 1px solid lightgray;
        border-radius: $radius;
        background-color: $lightgray;
    }

    &.titled {
        .rui-collapse-trigger {
            justify-content: space-between;
        }
    }

    &.left:not(.titled) {
        .rui-collapse-trigger {
            justify-content: flex-start;
        }
    }

    &.right:not(.titled) {
        .rui-collapse-trigger {
            justify-content: flex-end;
        }
    }

    .rui-collapse-trigger {
        min-height: $defaultSize;
        display: flex;
        align-items: center;

        & > span {
            font-size: .9rem;
            margin: 0 5px;
        }

        .tooltip {
            margin: 0 5px;
        }

        i {
            cursor: pointer;
            margin: 0 5px;

            &:active {
                transform: scale(.95);
            }

            &.reverse {
                transform: rotate(-180deg);
            }
        }
    }

    .rui-collapse-content {
        box-sizing: border-box !important;
        padding: 5px;
        background-color: transparent;
    }

}

.collapse-enter {
    opacity: 0;
    transform: translateY(-5%);
}

.collapse-enter-active {
    opacity: 1;
    transform: translateY(0%);
    transition: opacity 300, transform 300;
}

.collapse-exit {
    opacity: 1;
    transform: translateY(0%);
}

.collapse-exit-active {
    opacity: 0;
    transform: translateY(-5%);
    transition: opacity 300, transform 300;
}

@keyframes collapseOpening {
    0% { height: 0;}
    100% { height: auto;}
}

@-moz-keyframes collapseOpening {
    0% { height: 0;}
    100% { height: auto;}
}
  
@keyframes collapseClosing {
    0% { height: auto; }
    100% { height: 0; }
}

@-moz-keyframes collapseClosing {
    0% { height: auto; }
    100% { height: 0; }
}