@media (max-width: $xs) {
    .drawer {
        position: absolute !important;
    }

    .drawer-background {
        background-color: rgba(black, .4);
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        z-index: 999;
    }
}

.drawer-background {
    &.none {
        display: none;
    }
}

.drawer {
    top: 0;
    left: 0;
    height: auto;
    width: 280px;
    min-width: 280px;
    background-color: $lightgray;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: sticky;

    &.absolute {
        position: fixed !important;
        z-index: 999;
    }

    &.dark {
        background-color: $night;

        & .drawer-header {
            color: #000;
            background-color: $night;
        }
    }

    &.full-height {
        height: 100vh;
        overflow-y: auto;
    }

    &.min {
        width: 50px !important;
        min-width: 50px !important; 
        
        .drawer-content {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }

    .drawer-content {
        height: 100%;
        overflow-y: auto;
    }

    &:not(.collapsable) {
        .drawer-content {
            max-height: 100%;
        }
    }

    &.collapsable {
        .drawer-content {
            max-height: calc(100% - 40px);
        }
    }
}

.drawer-header {
    display: flex;
    align-items: center;
    height: 50px;
    color: $dark;
    font-weight: bold;
    position: sticky;
    top: 0;

    &.centered {
      justify-content: center;
    }

    & > img {
        width: 50px;
        height: 50px;
    }
}

.drawer-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
}
    
  
.drawer-enter {
    transform: translateX(-100%);
    -moz-transform: translateX(-100%);
}

.drawer-enter-active {
    transform: translateX(0%);
    transition: transform 300ms;
    -moz-transform: translateX(0%);
    -moz-transition: transform 300ms;
}

.drawer-exit {
    transform: translateX(0%);
    -moz-transform: translateX(0%);
}

.drawer-exit-active {
    transform: translateX(-100%);
    transition: transform 300ms;
    -moz-transform: translateX(-100%);
    -moz-transition: transform 300ms;
}

.expand-enter {
    width: 0;
}

.expand-enter-active {
    animation: collapsing 300ms ease-out;
    -moz-animation: collapsing 300ms ease-out;
}

.expand-exit {
    width: 0;
}

.expand-exit-active {
    animation: expanding 300ms ease-out;
    -moz-animation: expanding 300ms ease-out;
}
  
@keyframes expanding {
    0% { width: 50px; min-width: 50px;}
    100% { width: 280px; min-width: 280px;}
}

@-moz-keyframes expanding {
    0% { width: 50px; min-width: 50px;}
    100% { width: 280px; min-width: 280px;}
}
  
@keyframes collapsing {
    0% { width: 280px; min-width: 280px; }
    100% { width: 50px; min-width: 50px; }
}

@-moz-keyframes collapsing {
    0% { width: 280px; min-width: 280px; }
    100% { width: 50px; min-width: 50px; }
}