.rui-drawer__overlay {
    background-color: rgba(black, .4);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 9999;

    &.hide-overlay {
        background-color: transparent;
    }

    &.none {
        display: none;
    }
}

.rui-drawer {
    // height: auto;
    width: 280px;
    min-width: 280px;
    background-color: $lightgray;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &.left {
        top: 0;
        left: 0;
    }

    &.right {
        top: 0;
        right: 0;
    }

    &.bottom {
        bottom: 0;
        left: 0;
        width: 100%;
        min-width: 100%;
    }

    &.top {
        top: 0;
        left: 0;
        width: 100%;
        min-width: 100%;
    }

    .rui-drawer-header {
        display: flex;
        align-items: center;
        height: 50px;
        font-weight: 600;
        position: sticky;
        top: 0;
        z-index: 1;
        padding: 0 10px;
    
        &.centered {
          justify-content: center;
          padding: 0;
        }
    
        & > img {
            width: 50px;
            height: 50px;
        }
    }

    &.smooth {
        border-top-right-radius: $radius * 2;
        border-bottom-right-radius: $radius * 2;

        .rui-drawer-header {
            border-top-right-radius: $radius * 2;
        }
    }

    &.absolute {
        max-height: 100vh;
        overflow-y: auto;
        position: absolute;
        z-index: 999;

        &.left,
        &:not(.bottom):not(.top) {
            height: 100%;
        }
    }

    &.dark {
        background-color: $night;

        &.lifted {
            box-shadow: 1px 1px 3px rgba(lightgray, .2);
        }

        .rui-drawer-header {
            color: #fff;
            background-color: $night;
        }
    }

    &:not(.dark) {
        .rui-drawer-header {
            color: $dark;
            background-color: $lightgray;
        }

        &.lifted {
            box-shadow: 1px 1px 3px rgba(lightgray, .2);
            border: 1px solid rgba(0,40,100,.12);
        }
    }

    &.full-height {
        height: 100vh;
        overflow-y: auto;
    }

    &.min {
        width: 50px !important;
        min-width: 50px !important; 
        
        .rui-drawer-content {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .rui-list-item {
            display: flex;
            justify-content: center;
            padding-left: 0 !important;
            padding-right: 0 !important;
            width: 50px !important;
            max-width: 50px !important;
        }
    }

    .rui-drawer-content {
        height: 100%;
        padding-bottom: 20px;

        &::-webkit-scrollbar {
            width: 3.5px;
            height: 3.5px;
            background-color: $lightgray;
            border-radius: $radius;
        }
         
        &::-webkit-scrollbar-thumb {
          background-color: lightgray;
          outline: 1px solid #fff;
        }

        .rui-list-item:first-child {
            margin-top: 0;
        }
    }

    &:not(.collapsable) {
        .rui-drawer-content {
            max-height: 100%;
            overflow-y: auto;
            
            &::-webkit-scrollbar {
                width: 3.5px;
                height: 3.5px;
                background-color: $lightgray;
                border-radius: $radius;
            }
            
            &::-webkit-scrollbar-thumb {
              background-color: lightgray;
              outline: 1px solid #fff;
            }
        }
    }

    &.collapsable {
        .rui-drawer-content {
            max-height: calc(100% - 40px);
            // overflow-y: auto;

            &::-webkit-scrollbar {
                width: 3.5px;
                height: 3.5px;
                background-color: $lightgray;
                border-radius: $radius;
            }
            
            &::-webkit-scrollbar-thumb {
              background-color: lightgray;
              outline: 1px solid #fff;
            }
        }
    }
}

.rui-drawer-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
}

.rui-drawer__overlay-enter {
    opacity: 0;
}

.rui-drawer__overlay-enter-active {
    opacity: 1;
    transition: opacity .3s ease-in-out;
}

.rui-drawer__overlay-exit {
    opacity: 0;
}

.rui-drawer__overlay-exit-active {
    opacity: 1;
    transition: opacity .3s ease-in-out;
}

.rui-drawer-enter {
    width: 0;
}

.rui-drawer-enter-active {
    animation: drawerOpening 300ms ease-in;
    -moz-animation: drawerOpening 300ms ease-in;
}

.rui-drawer-exit {
    width: 0;
}

.rui-drawer-exit-active {
    animation: drawerClosing 300ms ease-out;
    -moz-animation: drawerClosing 300ms ease-out;
}

// Right side
.rui-drawer-right-enter {
    transform: translateX(100%);
    transition: transform .3s;
}

.rui-drawer-right-enter-active {
    transform: translateX(0%);
}

.rui-drawer-right-exit {
    transform: translateX(0%);
}

.rui-drawer-right-exit-active {
    transform: translateX(100%);
    transition: transform .3s;
}

// Left side
.rui-drawer-left-enter {
    transform: translateX(-100%);
    transition: transform .3s;
}

.rui-drawer-left-enter-active {
    transform: translateX(0%);
}

.rui-drawer-left-exit {
    transform: translateX(0%);
}

.rui-drawer-left-exit-active {
    transform: translateX(-100%);
    transition: transform .3s;
}

// Top side
.rui-drawer-top-enter {
    transform: translateY(-100%);
    transition: transform .3s;
}

.rui-drawer-top-enter-active {
    transform: translateY(0%);
}

.rui-drawer-top-exit {
    transform: translateY(0%);
}

.rui-drawer-top-exit-active {
    transform: translateY(-100%);
    transition: transform .3s;
}

// Bottom side
.rui-drawer-bottom-enter {
    transform: translateY(100%);
    transition: transform .3s;
}

.rui-drawer-bottom-enter-active {
    transform: translateY(0%);
}

.rui-drawer-bottom-exit {
    transform: translateY(0%);
}

.rui-drawer-bottom-exit-active {
    transform: translateY(100%);
    transition: transform .3s;
}

.expand-enter {
    width: 0;
}

.expand-enter-active {
    animation: collapsing 300ms ease-in;
    -moz-animation: collapsing 300ms ease-in;
}

.expand-exit {
    width: 0;
}

.expand-exit-active {
    animation: expanding 300ms ease-out;
    -moz-animation: expanding 300ms ease-out;
}
  
@keyframes expanding {
    0% { width: 50px; min-width: 50px;}
    100% { width: 280px; min-width: 280px;}
}

@-moz-keyframes expanding {
    0% { width: 50px; min-width: 50px;}
    100% { width: 280px; min-width: 280px;}
}
  
@keyframes collapsing {
    0% { width: 280px; min-width: 280px; }
    100% { width: 50px; min-width: 50px; }
}

@-moz-keyframes collapsing {
    0% { width: 280px; min-width: 280px; }
    100% { width: 50px; min-width: 50px; }
}


// Horizontal
@keyframes drawerOpening {
    0% { width: 0; min-width: 0;}
    100% { width: 280px; min-width: 280px;}
}

@-moz-keyframes drawerOpening {
    0% { width: 0; min-width: 0;}
    100% { width: 280px; min-width: 280px;}
}
  
@keyframes drawerClosing {
    0% { width: 280px; min-width: 280px; }
    100% { width: 0; min-width: 0; }
}

@-moz-keyframes drawerClosing {
    0% { width: 280px; min-width: 280px; }
    100% { width: 0; min-width: 0; }
}
