.drawer {
    top: 0;
    left: 0;
    height: 100vh;
    width: 280px;
    min-width: 280px;
    background-color: $night;
    display: flex;
    flex-direction: column-reverse;
    overflow: hidden;
    z-index: 99;
}
  
.drawer.min {
    width: 50px !important;
    min-width: 50px !important; 
}
  
.drawer.absolute {
    position: fixed !important;
}
  
  .drawer-enter {
    transform: translateX(-100%);
  }
  
  .drawer-enter-active {
    transform: translateX(0%);
    transition: transform 300ms;
  }
  
  .drawer-exit {
    transform: translateX(0%);
  }
  
  .drawer-exit-active {
    transform: translateX(-100%);
    transition: transform 300ms;
  }
  
  .expand-enter {
    width: 0;
  }
  
  .expand-enter-active {
    animation: collapsing 300ms ease-out;
  }
  
  .expand-exit {
    width: 0;
  }
  
  .expand-exit-active {
    animation: expanding 300ms ease-out;
  }
  
@keyframes expanding {
    0% { width: 50px; min-width: 50px;}
    100% { width: 280px; min-width: 280px;}
}
  
@keyframes collapsing {
    0% { width: 280px; min-width: 280px; }
    100% { width: 50px; min-width: 50px; }
}