.dropdown-container {
    position: relative;
    display: inline-flex;
    outline: none;

    .input-field {
        margin: 0;
    }
}

.dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    min-width: 100%;
    background-color: white;
    box-shadow: 0 1px 5px rgba(0, 0, 0, .3);
    border-radius: $radius;
    z-index: 100;
}
  
.menu-title {
    font-size: .8rem;
    padding: 10px;
    border-bottom: 1px solid lightgray;
    background-color: $lightgray;
    text-align: left;
    color: gray;
}

.menu-item {
    font-size: .9rem;
    border-bottom: 1px solid #eee;
    padding: 10px;
    text-align: left;
}

.menu-item:hover {
    cursor: pointer;
    background-color: #eee;
    transition: hover .2s ease-in-out;
}

.menu-item:last-child {
    border-bottom: none;
}

.dropdown-enter {
    opacity: 0;
    transform: translateY(-3%);
}

.dropdown-enter-active {
    opacity: 1;
    transform: translateY(0%);
    transition: opacity 300ms, transform 300ms;
}

.dropdown-exit {
    opacity: 1;
    transform: scale(1);
}

.dropdown-exit-active {
    opacity: 0;
    transform: scale(0.9);
    transition: opacity 300ms, transform 300ms;
}