.rui-dropdown-container {
    position: relative;
    display: inline-flex;
    outline: none;
    margin: 5px 0;

    &.centered {
        justify-content: center;
    }

    &.right {
        justify-content: flex-end;
    }

    & > div {
        width: 100%;
        z-index: 5;
    }

    .rui-input-field {
        margin: 0;
    }
}

.rui-dropdown {
    position: absolute;
    top: 100%;
    min-width: 100%;
    background-color: white;
    box-shadow: 0 1px 5px rgba(0, 0, 0, .3);
    border-radius: $radius;

    .rui-list-item:first-child {
        border-top-left-radius: $radius;
        border-top-right-radius: $radius;
    }

    .rui-list-item:last-child {
        border-bottom-left-radius: $radius;
        border-bottom-right-radius: $radius;
    }
}
  
.dropdown-enter {
    opacity: 0;
    transform: translateY(-3%);
}

.dropdown-enter-active {
    opacity: 1;
    transform: translateY(0%);
    transition: opacity 300ms, transform 300ms;
}

.dropdown-exit {
    opacity: 1;
    transform: translateY(0%);
}

.dropdown-exit-active {
    opacity: 0;
    transform: translateY(-3%);
    transition: opacity 300ms, transform 300ms;
}