.fw-normal {
    font-weight: normal;
}

.fw-bold {
    font-weight: bold;
}

.fw-thin {
    font-weight: thin;
}

.fz-7 {
    font-size: .7rem !important;
}

.fz-8 {
    font-size: .8rem !important;
}

.fz-9 {
    font-size: .9rem !important;
}

.fz-10 {
    font-size: 1rem !important; 
}

.fz-11 {
    font-size: 1.1rem !important; 
}

.fz-12 {
    font-size: 1.2rem !important; 
}

.fz-13 {
    font-size: 1.3rem !important; 
}