.rui-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 15px;

    &.fixed {
        position: fixed;
        bottom: 0;
        left: 0;
        z-index: 1;
        border-top: 1px solid lightgray;
    }

    &.centered {
        justify-content: center;
    }

    &.smooth {
        border-radius: $radius * 1.5;
    }

    &:not(.dark) {
        background-color: $lightgray;
    }

    &.dark {
        background-color: $night;
        color: white;
        a {
            color: #fff;
        }
    }

    &.primary {
        background-color: $primary;
        color: white;
        a {
            color: #fff;
        }
    }

    &.info {
        background-color: $info;
        color: white;
        a {
            color: #fff;
        }
    }

    &.success {
        background-color: $success;
        color: white;
        a {
            color: #fff;
        }
    }

    &.error {
        background-color: $error;
        color: white;
        a {
            color: #fff;
        }
    }
}