.rui-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    width: 100%;
    padding: 0 15px;
    top: 0;

    &.sticky {
        position: sticky;
        z-index: 1000;
    }

    &:not(.dark) {
        &.elevated {
            box-shadow: 1px 1px 3px rgba(0, 0, 0, .3);
        }
    }

    &.smooth {
        border-radius: $radius * 1.5;
    }

    &.light {
        background-color: $lightgray;
    }

    &.dark {
        background-color: $night;

        &.elevated {
            box-shadow: 1px 1px 3px rgba(lightgray, .2);
        }

        .rui-header__title {
            color: white;
        }
    }

    &.primary {
        background-color: $primary;
        .rui-header__title {
            color: white;
        }
    }

    &.info {
        background-color: $info;
        .rui-header__title {
            color: white;
        }
    }

    &.success {
        background-color: $success;
        .rui-header__title {
            color: white;
        }
    }

    &.error {
        background-color: $error;
        .rui-header__title {
            color: white;
        }
    }

    &.black {
        background-color: $dark;
        .rui-header__title {
            color: white;
        }
    }

    .rui-header__left-side {
        display: flex;
        align-items: center;
    }
    
    .rui-header__logo {
        width: 35px;
        height: 35px;
        margin: 0 5px;
    }
    
    .rui-header__title {
        font-size: $largeFont;
        font-weight: 600;
        color: $dark;
    }
}


@media (max-width: #{$xs}) {
    .rui-header {
        .rui-header__title {
            font-size: $mediumFont;
        }
    }
}
