.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    width: 100%;
    background-color: $night;
    padding: 0 15px;
    position: sticky;
    top: 0;
    z-index: 99;
}

.header-left {
    display: flex;
    align-items: center;
}

.header-logo {
    width: 35px;
    height: 35px;
    margin: 0 5px;
}

.header-title {
    font-size: 1.3rem;
    font-weight: bold;
    color: white;
}