.overflow-y {
    overflow-y: auto;
}

.overflow-x {
    overflow-x: auto;
}

.overflow {
    overflow: auto;
}

.text-white {
    color: #fff;
}

.text-info {
    color: $info;
}

.text-lightgray {
    color: $lightgray;
}

.text-primary {
    color: $primary;
}

.bg-night {
    background-color: $night;
}

.row {
    display: flex;
}

.wrap {
    flex-wrap: wrap;
}

.row-inline {
    display: inline-flex;
}

.col {
    flex-grow: 1;
}

.column {
    flex-direction: column;
}

.align-top {
    align-items: flex-start;
}

.align-center {
    align-items: center;
}

.space-around {
    justify-content: space-around;
}

.space-between {
    justify-content: space-between;
}

.justify-center {
    justify-content: center;
}

.justify-end {
    justify-content: flex-end;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.full-width {
    width: 100%;
}

.full-height {
    height: 100%;
}

.half-width {
    width: 50%;
}

.spacer {
    flex-grow: 1;
}

.border {
    border-radius: $radius;
}

.smooth-border {
    border-radius: $radius * 2;
}

.hoverable:hover {
    background-color: $lightgray;
    transition: all .2s ease-in-out;
    border-radius: $radius;
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

.sticky {
    position: sticky;
    top: 0;
}