$sizes: (0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,25,27,28,29,30);

.row {
    display: flex;

    .wrap {
        flex-wrap: wrap;
    }
}

.col {
    flex-grow: 1;
}

.column {
    flex-direction: column;
}

.align-top {
    align-items: flex-start;
}

.align-center {
    align-items: center;
}

.space-around {
    justify-content: space-around;
}

.space-between {
    justify-content: space-between;
}

.justify-center {
    justify-content: center;
}

.justify-end {
    justify-content: flex-end;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.text-bold {
    font-weight: bold;
}

.full-width {
    width: 100%;
}

.full-height {
    height: 100%;
}

.half-width {
    width: 50%;
}

.spacer {
    flex-grow: 1;
}

.text-hint {
    font-size: .8rem;
}

.bordered {
    border: 1px solid $gray;
    border-radius: $radius;
}

.smooth-border {
    border-radius: $radius * 2;
}

@each $size in $sizes {
    .mx-#{$size} {
        margin-left: #{$size}px;
        margin-right: #{$size}px;
    }
}

@each $size in $sizes {
    .my-#{$size} {
        margin-top: #{$size}px;
        margin-bottom: #{$size}px;
    }
}

@each $size in $sizes {
    .mr-#{$size} {
        margin-right: #{$size}px;
    }
}

@each $size in $sizes {
    .ml-#{$size} {
        margin-left: #{$size}px;
    }
}

@each $size in $sizes {
    .mb-#{$size} {
        margin-bottom: #{$size}px;
    }
}

@each $size in $sizes {
    .mt-#{$size} {
        margin-top: #{$size}px;
    }
}

@each $size in $sizes {
    .pa-#{$size} {
        padding: #{$size}px;
    }
}

@each $size in $sizes {
    .px-#{$size} {
        padding-right: #{$size}px;
        padding-left: #{$size}px;
    }
}

@each $size in $sizes {
    .py-#{$size} {
        padding-top: #{$size}px;
        padding-bottom: #{$size}px;
    }
}

@each $size in $sizes {
    .pb-#{$size} {
        padding-bottom: #{$size}px;
    }
}

@each $size in $sizes {
    .pt-#{$size} {
        padding-top: #{$size}px;
    }
}

@each $size in $sizes {
    .pr-#{$size} {
        padding-right: #{$size}px;
    }
}