.input {
    height: 50px;
    outline: none;
    padding: 5px 10px;
    border: 1px solid lightgray;
    font-size: 1rem;
    background-color: $lightgray;
    border-radius: 2px;

    &:focus {
        border-color: $info;
        transition: all .2s ease;
        background-color: transparent;
    }

    &:hover {
        border-color: $info;
        transition: all .2s ease;
    }

    .small {
        font-size: .8rem !important;
    }
}

.input-field {

    & > label {
        display: block;
        font-size: .8rem;
        user-select: none;
        -moz-user-select: none;
        margin-bottom: 3px;
    }

    &.medium {

        input {
            padding: 10px;
            font-size: 1.1rem;
        }
    }

    &.large {

        input,
        textarea {
            padding: 12px 15px;
            font-size: 1.2rem;
        }

        i {
            right: 8px;
        }
    }
}

.input-field__hint {
    font-size: .8rem;
    color: $dark;
    padding: 3px;
}

.input-container {
    display: inline-flex;
    align-items: center;
    position: relative;
    width: 100%;

    &.info {
        input:focus,
        textarea:focus {
            border-color: $info;
            transition: all .2s ease;
            background-color: transparent;
        }

        &:hover {
            input,
            textarea {
                border-color: $info;
                transition: all .2s ease;
            }
        }
    }

    &.error {
        input:focus,
        textarea:focus {
            border-color: $error;
            transition: all .2s ease;
            background-color: transparent;
        }

        &:hover {
            input,
            textarea {
                border-color: $error;
                transition: all .2s ease;
            }
        }
    }

    & > input,
    & > textarea {
        outline: none;
        padding: 6px 10px;
        border: 1px solid lightgray;
        font-size: 1rem;
        background-color: $lightgray;
        border-radius: $radius;
        width: 100%;
    }

    &:hover > input,
    &:hover > textarea {
        border-color: $primary;
        transition: all .2s ease;
    }

    & > input:focus,
    & > textarea:focus {
        border-color: $primary;
        transition: all .2s ease;
        background-color: transparent;
    }

    & > input:focus ~ i,
    & > textarea:focus ~ i {
        display: block;
        transition: all .3s ease-in-out;
    }

    & > input:focus ~ .input-field > label,
    & > textarea:focus ~ .input-field > label {
        color: $primary;
    }

    & > i {
        display: none;
        position: absolute;
        right: 5px;
        top: calc(50% - 12px);
        cursor: pointer;
        z-index: 3;
    }
}