.list {
    &:not(.medium):not(.large) {
        .list-item {
            padding: 0 10px;
            min-height: $defaultSize;
            font-size: $defaultFont;

            a {
                font-size: $defaultFont;
            }
    
            .list-item__title-row {
                height: $defaultSize;

                .icon {
                    width: 18px;
                    height: 18px;
                    margin-right: 8px;
                }
            }

            .list-subtitle {
                font-size: .8rem;
            }
        }
    }

    &.medium {
        .list-item {
            padding: 0 10px;
            min-height: $mediumSize;
            font-size: $mediumFont;

            .list-subtitle {
                font-size: .85rem;
            }

            a {
                font-size: $mediumFont;
            }

            .list-item__title-row {
                height: $mediumSize;

                .icon {
                    width: 18px;
                    height: 18px;
                    margin-right: 8px;
                }
            }
        }
    }

    &.large {
        .list-item {
            padding: 0 10px;
            min-height: $largeSize;
            font-size: $largeFont;

            .list-subtitle {
                font-size: .85rem;
                padding: 0;
                padding: 5px 0;
            }

            a {
                font-size: $largeFont;
            }

            .list-item__title-row {
                height: $largeSize;

                .icon {
                    width: 20px;
                    height: 20px;
                    margin-right: 8px;
                }
            }
        }
    }

    &.dark {
        background-color: $night;

        .list-header {
            color: #fff;
        }

        .list-item {
            color: #fff;
            border-bottom-color: lightgray;

            path {
                fill: #fff;
            }

            &.hover:hover:not(.active)  {
                background-color: rgba($light, .3);
                transition: all .2s ease-in-out;
                cursor: pointer;
            }

            &.hover.rounded:hover:not(.active)  {
                background-color: rgba($light, .3);
                transition: all .2s ease-in-out;
                cursor: pointer;
                border-top-left-radius: 30px;
                border-bottom-left-radius: 30px;
            }
        }

        .list-item.active {
            background-color: rgba($info, .4);
            border-right: 5px solid $info;
            color: $info;

            .list-item__title-row {
                .icon {
                    path {
                        fill: $info;
                    }
                }
            }
        }

        .list-item.active.rounded {
            background-color: rgba($info, .4);
            border-right: 5px solid $info;
            border-top-left-radius: 30px;
            border-bottom-left-radius: 30px;
        }
    }

    &:not(.dark) {
        .list-item {
            &.hover:hover:not(.active)  {
                background-color: rgba(lightgray, .4); //rgba(, .3);
                transition: all .2s ease-in-out;
                cursor: pointer;
            }

            &.hover.rounded:hover:not(.active)  {
                background-color: rgba(lightgray, .4);
                transition: all .2s ease-in-out;
                cursor: pointer;
                border-top-left-radius: 30px;
                border-bottom-left-radius: 30px;
            }
        }

        .list-item.active {
            background-color: rgba($info, .2);
            border-right: 5px solid $info;
            color: $info;

            &.hover:hover:not(.active)  {
                background-color: lightgray; 
                transition: all .2s ease-in-out;
                cursor: pointer;
            }

            &.hover.rounded:hover:not(.active)  {
                background-color: lightgray;
                transition: all .2s ease-in-out;
                cursor: pointer;
                border-top-left-radius: 30px;
                border-bottom-left-radius: 30px;
            }

            .list-item__title-row {
                .icon {
                    path {
                        fill: $info;
                    }
                }
            }
        }

        .list-item.active.rounded {
            background-color: rgba($info, .2);
            border-right: 5px solid $info;
            border-top-left-radius: 30px;
            border-bottom-left-radius: 30px;
        }
    }

    & .btn {
        padding: 0;
    }
}

.list-header {
    font-size: .9rem;
    padding: 10px;
    color: gray;
}

.list-subtitle {
    display: block;
    font-size: .8rem;
    color: gray;
    padding: 5px 0;

    .tag {
        margin: 0 !important;
    }
}

.list-item {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .list-item__title-row {
        display: flex;
        align-items: center;
    }

    svg {
        width: 20px;
        height: 20px;
        min-width: 20px;
        min-height: 20px;
    }

    &.divider {
        border-bottom: 1px solid lightgray;
    }

    &.dense {
        padding: 10px;
        font-size: .9rem;
    }

    &:last-child {
        border-bottom: none;
    }

    &.hover:hover:not(.active) {
        background-color: $lightgray;
        transition: all .2s ease-in-out;
        cursor: pointer;
    }
}


.list-item__right-side {
    display: flex;
    align-items: center;
}

.list-item__left-side {
    display: block;

    .checkbox {
        margin-right: 10px;
    }
}