.list {
    &.dense > .list-item {
        padding: 0 10px;
        height: 30px;
        font-size: .9rem;
    }

    &.dark {
        .list-item {
            color: #fff;
            border-bottom-color: gray;

            path {
                fill: #fff;
            }

            &.hover:hover:not(.active)  {
                background-color: rgba($light, .3);
                transition: all .2s ease-in-out;
                cursor: pointer;
            }
        }

        .list-item.active {
            background-color: rgba($info, .4);
            border-right: 5px solid $info;
        }
    }

    &:not(.dark) {
        .list-item.active {
            background-color: rgba($info, .2);
            border-right: 5px solid $info;
        }
    }

    & .btn {
        padding: 0;
    }
}

.list-header {
    font-size: .9rem;
    padding: 10px;
    color: $dark;
}

.list-subtitle {
    display: block;
    font-size: .75rem;
    color: gray;
    margin-left: 30px;
    padding-bottom: 5px;

    .tag {
        margin: 0 !important;
    }
}

.list-item {
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: $dark;
    padding: 0 15px;
    min-height: 40px;
    font-size: 1rem;

    svg {
        width: 20px;
        height: 20px;
        min-width: 20px;
        min-height: 20px;
    }

    &.divider {
        border-bottom: 1px solid lightgray;
    }

    &.dense {
        padding: 10px;
        font-size: .9rem;
    }

    & > div:first-child {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &:last-child {
        border-bottom: none;
    }

    &.hover:hover:not(.active) {
        background-color: $lightgray;
        transition: all .2s ease-in-out;
        cursor: pointer;
    }
}

.list-item__left-side,
.list-item__right-side {
    display: flex;
    align-items: center;
}

.list-item__left-side {
    .checkbox {
        margin-right: 10px;
    }
}