.pagination {
    display: flex;
    align-items: center;

    .select-menu {
        margin: 0;
    }

    &.middle {
        justify-content: center;
    }

    &.right {
        justify-content: flex-end;
    }

    &.rounded > .pagination-item {
        border-radius: 50%;
    }

    &:not(.medium):not(.large) > .pagination-item {
        height: $defaultSize;
        width: $defaultSize;
        font-size: .9rem;

        & > svg {
            width: 20px;
            height: 20px;
        }
    }

    &.medium > .pagination-item {
        height: $mediumSize;
        width: $mediumSize;
        font-size: 1rem;

        & > svg {
            width: 20px;
            height: 20px;
        }
    }

    &.large > .pagination-item {
        height: $largeSize;
        width: $largeSize;
        font-size: 1.1rem;

        & > svg {
            width: 24px;
            height: 24px;
        }
    }

    &.info {
        .pagination-item {
            &.active {
                background-color: $info;
                border-color: $info;
                color: #fff;
            }

            &:not(.disabled):not(.active):hover {
                color: $info;
                border-color: $info;

                path {
                    fill: $info;
                }
            }
        }
    }

    &.primary {
        .pagination-item {
            &.active {
                background-color: $primary;
                border-color: $primary;
                color: #fff;
            }

            &:not(.disabled):not(.active):hover {
                color: $primary;
                border-color: $primary;

                path {
                    fill: $primary;
                }
            }
        }
    }

    &.success {
        .pagination-item {
            &.active {
                background-color: $success;
                border-color: $success;
                color: #fff;
            }

            &:not(.disabled):not(.active):hover {
                color: $success;
                border-color: $success;

                path {
                    fill: $success;
                }
            }
        }
    }

    &.error {
        .pagination-item {
            &.active {
                background-color: $error;
                border-color: $error;
                color: #fff;
            }

            &:not(.disabled):not(.active):hover {
                color: $error;
                border-color: $error;

                path {
                    fill: $error;
                }
            }
        }
    }

    .pagination-item {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $lightgray;
        border: 1px solid lightgray;
        cursor: pointer;
        margin: 0 1px;
        user-select: none;
        -moz-user-select: none;
        border-radius: $radius;
    
        &.active {
            background-color: $primary;
            border-color: $primary;
            color: #fff;
        }
    
        &:active:not(.disabled) {
            box-shadow: 0 2px 5px rgba(black, .3);
        }
    
        &.disabled {
            background-color: transparent;
            border-color: transparent;
            color: $dark;
            cursor: not-allowed;

            path {
                fill: lightgray;
            }
        }
    
        &:not(.disabled):not(.active):hover {
            transition: all .2s ease-in-out;
        }
    }
}

.pagination-per-page {
    display: flex;
    align-items: center;
    margin-left: 5px;

    & > span {
        margin-right: 5px;
        font-size: .9rem;
    }
}
