.rui-page {
    width: 100%;
}

.rui-page-title {
    font-size: 1.3rem;
    text-shadow: .5px .5px lightgray;
    font-weight: bold;
    // color: $night;
    color: #4BBEA6;
    padding: 10px 0;
    margin-bottom: 10px;
}