.rui-popover {
    position: relative;
    display: inline-flex;
    justify-content: center;
    outline: none;

    &.dark {
        &:not(.bottom):not(.left):not(.right) {
            .rui-popover__content {
                &::after {
                    border-color: $night transparent transparent transparent;
                }
            }
        }
    
        &.bottom {
            .rui-popover__content {
                &::after {
                    border-color: transparent transparent $night transparent;
                }
            }
        }
    
        &.left {
            .rui-popover__content {
                &::after {
                    border-color: transparent transparent transparent $night;
                }
            }
        }
    
        &.right {
            .rui-popover__content {
                &::after {
                    border-color: transparent $night transparent transparent;
                }
            }
        }

        .rui-popover__content {
            background-color: $night;
            color: #fff;
            
        }

        &:not(.bottom):not(.left):not(.right) {
        .rui-popover__content {
            bottom: calc(100% + 8px);
    
            &::after {
                top: 100%;
                left: 50%;
                margin-left: -5px;
            }
        }
    }

    &.bottom {
        .rui-popover__content {
            top: calc(100% + 8px);
            box-shadow: 0 1px 15px rgba($dark, .4);
    
            &::after {
                bottom: 100%;
                left: 50%;
                margin-left: -5px;
                border-color: transparent transparent #fff transparent;
            }
        }
    }

    &.left {
        display: inline-flex;
        align-items: center;

        .rui-popover__content {
            right: calc(100% + 8px);
            box-shadow: 0 1px 15px rgba($dark, .4);
    
            &::after {
                top: 50%;
                left: 100%; 
                margin-top: -5px;
                border-color: transparent transparent transparent #fff;
            }
        }
    }

    &.right {
        display: inline-flex;
        align-items: center;

        .rui-popover__content {
            left: calc(100% + 8px);
            box-shadow: 0 1px 15px rgba($dark, .4);
    
            &::after {
                top: 50%;
                right: 100%; 
                margin-top: -5px;
                border-color: transparent #fff transparent transparent;
            }
        }
    }

        .rui-popover__content-body {
            color: #fff;
        }
    }

    &:not(.dark) {
        .rui-popover__content {
            background-color: #fff;
            color: black;
        }

        .rui-popover__content-body {
            color: black;
        }

        &:not(.bottom):not(.left):not(.right) {
            .rui-popover__content {
                &::after {
                    border-color: #fff transparent transparent transparent;
                }
            }
        }
    
        &.bottom {
            .rui-popover__content {
                &::after {
                    border-color: transparent transparent #fff transparent;
                }
            }
        }
    
        &.left {
            .rui-popover__content {
                &::after {
                    border-color: transparent transparent transparent #fff;
                }
            }
        }
    
        &.right {
            .rui-popover__content {
                &::after {
                    border-color: transparent #fff transparent transparent;
                }
            }
        }
    }
    
    .rui-popover__content {
        display: inline-block;
        min-width: 150px;
        max-width: 300px;
        box-shadow: 0 1px 15px rgba($dark, .4);
        border-radius: $radius;
        position: absolute;
        font-size: $defaultFont;
        z-index: 50;

        &::after {
            content: " ";
            position: absolute;
            border-width: 8px;
            border-style: solid;
        }
    }

    .rui-popover__content-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 10px;
        padding-top: 10px;
        padding-bottom: 10px;
        border-bottom: 1px solid lightgray;
        font-size: .9rem;

        span {
            font-weight: 600;
        }

        .rui-icon {
            cursor: pointer;

            &:active {
                transform: scale(.97);
            }
        }
    }

    .rui-popover__content-body {
        padding: 10px;
    }

    &:not(.bottom):not(.left):not(.right) {
        .rui-popover__content {
            bottom: calc(100% + 8px);
    
            &::after {
                top: 100%;
                left: 50%;
                margin-left: -5px;
            }
        }
    }

    &.bottom {
        .rui-popover__content {
            top: calc(100% + 8px);
            box-shadow: 0 1px 15px rgba($dark, .4);
    
            &::after {
                bottom: 100%;
                left: 50%;
                margin-left: -5px;
            }
        }
    }

    &.left {
        display: inline-flex;
        align-items: center;

        .rui-popover__content {
            right: calc(100% + 8px);
            box-shadow: 0 1px 15px rgba($dark, .4);
    
            &::after {
                top: 50%;
                left: 100%; 
                margin-top: -5px;
            }
        }
    }

    &.right {
        display: inline-flex;
        align-items: center;

        .rui-popover__content {
            left: calc(100% + 8px);
            box-shadow: 0 1px 15px rgba($dark, .4);
    
            &::after {
                top: 50%;
                right: 100%; 
                margin-top: -5px;
            }
        }
    }
}

.popup-enter {
    opacity: 0;
    transform: translateY(10%);
}

.popup-enter-active {
    opacity: 1;
    transform: translateY(0%);
    transition: opacity 300ms, transform 300ms;
}

.popup-exit {
    opacity: 1;
    transform: scale(1);
}

.popup-exit-active {
    opacity: 0;
    transform: scale(0.9);
    transition: opacity 300ms, transform 300ms;
}

.popdown-enter {
    opacity: 0;
    transform: translateY(-10%);
}

.popdown-enter-active {
    opacity: 1;
    transform: translateY(0%);
    transition: opacity 300ms, transform 300ms;
}

.popdown-exit {
    opacity: 1;
    transform: scale(1);
}

.popdown-exit-active {
    opacity: 0;
    transform: scale(0.9);
    transition: opacity 300ms, transform 300ms;
}

.popleft-enter {
    opacity: 0;
    transform: translateX(10%);
}

.popleft-enter-active {
    opacity: 1;
    transform: translateX(0%);
    transition: opacity 300ms, transform 300ms;
}

.popleft-exit {
    opacity: 1;
    transform: scale(1);
}

.popleft-exit-active {
    opacity: 0;
    transform: scale(0.9);
    transition: opacity 300ms, transform 300ms;
}

.popright-enter {
    opacity: 0;
    transform: translateX(-10%);
}

.popright-enter-active {
    opacity: 1;
    transform: translateX(0%);
    transition: opacity 300ms, transform 300ms;
}

.popright-exit {
    opacity: 1;
    transform: scale(1);
}

.popright-exit-active {
    opacity: 0;
    transform: scale(0.9);
    transition: opacity 300ms, transform 300ms;
}