.rui-radio-group {
    display: inline-flex;

    &.vertical {
        flex-direction: column;
    }
}

// .container {
//     display: block;
//     position: relative;
//     padding-left: 35px;
//     margin-bottom: 12px;
//     cursor: pointer;
//     font-size: 22px;
//     -webkit-user-select: none;
//     -moz-user-select: none;
//     -ms-user-select: none;
//     user-select: none;
//   }
  
//   /* Hide the browser's default radio button */
//   .container input {
//     position: absolute;
//     opacity: 0;
//     cursor: pointer;
//   }
  
//   /* Create a custom radio button */
//   .checkmark {
//     position: absolute;
//     top: 0;
//     left: 0;
//     height: 25px;
//     width: 25px;
//     background-color: #eee;
//     border-radius: 50%;
//   }
  
//   /* On mouse-over, add a grey background color */
//   .container:hover input ~ .checkmark {
//     background-color: #ccc;
//   }
  
//   /* When the radio button is checked, add a blue background */
//   .container input:checked ~ .checkmark {
//     background-color: #2196F3;
//   }
  
//   /* Create the indicator (the dot/circle - hidden when not checked) */
//   .checkmark:after {
//     content: "";
//     position: absolute;
//     display: none;
//   }
  
//   /* Show the indicator (dot/circle) when checked */
//   .container input:checked ~ .checkmark:after {
//     display: block;
//   }
  
//   /* Style the indicator (dot/circle) */
//   .container .checkmark:after {
//        top: 9px;
//       left: 9px;
//       width: 8px;
//       height: 8px;
//       border-radius: 50%;
//       background: white;
//   }

.rui-radio {
    display: inline-flex;
    position: relative;
    align-items: center;
    margin: 5px;
    padding-left: 22px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    &.disabled {
        cursor: not-allowed;
        color: gray !important;
        user-select: none;
        -moz-user-select: none;
    }

    .rui-radio-checkmark {
        position: absolute;
        top: calc(50% - 7px);
        left: 0;
        height: 14px;
        width: 14px;
        background-color: #eee;
        border-radius: 50%;
    }

    .rui-radio-checkmark:after {
        content: "";
        position: absolute;
        display: none;
    }

    input:checked ~ .rui-radio-checkmark:after {
        display: block;
    }

    .rui-radio-checkmark:after {
        top: calc(50% - 3px);
        left: calc(50% - 3px);
        width: 6px;
        height: 6px;
        border-radius: 50%;
        background: #fff;
    }

    &.primary:not(.disabled) {
        color: $primary;

        input:checked ~ .rui-radio-checkmark {
            background-color: $primary;
        }

        &:hover {
            color: darken($primary, 10%);
        }

        input[type=radio]:checked + label:before,
        input[type=radio]:checked + label span.sg-icon-target:before {
            color: $primary; 
        }

        input:focus {
            box-shadow: 0 0 3px 1px rgba($primary, .3);
        }
    }

    &.info:not(.disabled) {
        color: $info;

        input:checked ~ .rui-radio-checkmark {
            background-color: $info;
        }

        &:hover {
            color: darken($info, 10%);
        }
    }

    &.success:not(.disabled) {
        color: $success;

        input:checked ~ .rui-radio-checkmark {
            background-color: $success;
        }

        &:hover {
            color: darken($success, 10%);
        }
    }

    &.error:not(.disabled) {
        color: $error;

        input:checked ~ .rui-radio-checkmark {
            background-color: $error;
        }

        &:hover {
            color: darken($error, 10%);
        }
    }

    input[type=radio] {
        outline: none;
        cursor: pointer;
        margin-right: 6px;
        position: absolute;
        opacity: 0;
    }

    input:disabled {
        cursor: not-allowed;
    }

    & > span {
        margin-right: 15px;
    }
}