.select-menu {
    background-color: $lightgray;
    position: relative;
    border: 1px solid lightgray;
    outline: none;
    -moz-outline: none;
    cursor: pointer;
    border-radius: $radius;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 5px;

    &.rounded {
        border-radius: 60px;

        & > svg {
            margin: 0 7px;
        }

        .select-menu__value,
        & > span {
            padding-left: 8px;
        }

        .select-menu__items,
        .select-menu__subitems {
            border-radius: 10px;
            border-color: lightgray;
        }

        .select-menu__item:first-child,
        .select-menu__subitem:first-child {
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
        }
    
        .select-menu__item:last-child,
        .select-menu__subitem:last-child {
            border-bottom: none;
            border-bottom-left-radius: 10px;
            border-bottom-right-radius: 10px;
        }
    }

    &:not(.medium):not(.large) {
        height: 30px;

        .select-menu__item,
        .select-menu__subitem,
        .select-menu__value,
        & > span {
            font-size: .9rem;
        }

        

        &:not(.rounded) {
            .select-menu__value,
            & > span {
                padding-left: 5px;
            }

            & > svg {
                margin: 0 5px;
            }
        }
    }

    &.medium {
        height: 40px;

        .select-menu__item,
        .select-menu__subitem,
        .select-menu__value,
        & > span {
            font-size: 1rem;
        }

        & > svg {
            margin: 0 8px;
        }

        .select-menu__value,
        & > span {
            padding-left: 8px;
        }
    }

    &.large {
        height: 50px;

        .select-menu__item,
        .select-menu__subitem,
        .select-menu__value,
        & > span {
            font-size: 1rem;
        }

        & > svg {
            margin: 0 8px;
        }

        .select-menu__value,
        & > span {
            padding-left: 8px;
        }
    }

    &:not(.primary):not(.info):not(.success):not(.error) {
        &:focus {
            border-color: lightgray;
    
            & > svg {
                color: lightgray;
            }
    
            & polygon {
                fill: lightgray;
            }
        }

        &:hover {
            border-color: lightgray;
            
            & polygon {
                fill: lightgray;
            }
        }

        .select-menu__item.active,
        .select-menu__subitem.active {
            color: lightgray;
        }
    }

    &.primary {
        &:focus {
            border-color: $primary;
    
            & > svg {
                color: $primary;
            }
    
            & polygon {
                fill: $primary;
            }
        }

        &:hover {
            border-color: $primary;
            
            & polygon {
                fill: $primary;
            }
        }

        .select-menu__item.active,
        .select-menu__subitem.active {
            color: $primary;
        }
    }

    &.info {
        &:focus {
            border-color: $info;
    
            & > svg {
                color: $info;
            }
    
            & polygon {
                fill: $info;
            }
        }

        &:hover {
            border-color: $info;
            
            & polygon {
                fill: $info;
            }
        }

        .select-menu__item.active,
        .select-menu__subitem.active {
            color: $info;
        }
    }

    &.success {
        &:focus {
            border-color: $success;
    
            & > svg {
                color: $success;
            }
    
            & polygon {
                fill: $success;
            }
        }

        &:hover {
            border-color: $success;
            
            & polygon {
                fill: $success;
            }
        }

        .select-menu__item.active,
        .select-menu__subitem.active {
            color: $success;
        }
    }

    &.error {
        &:focus {
            border-color: $error;
    
            & > svg {
                color: $error;
            }
    
            & polygon {
                fill: $error;
            }
        }

        &:hover {
            border-color: $error;
            
            & polygon {
                fill: $error;
            }
        }

        .select-menu__item.active,
        .select-menu__subitem.active {
            color: $error;
        }
    }

    &:focus {
        border: 1px solid;
        background-color: #fff;

        & > svg {
            transform: rotate(180deg);
            transition: transform .5s ease-in-out;
        }
    }

    &:focus > .select-menu__items {
        border-color: lightgray;
    }
    
    &:hover {
        border: 1px solid;
        transition: all .2s ease-in-out;
        background-color: #fff;

        & polygon {
            transition: all .2s ease-in-out;
        }
    }

    & > span {
        color: grey;
        display: flex;
        align-items: center;
        height: 100%;
        user-select: none;
        -moz-user-select: none;
        cursor: pointer;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }
}

.select-menu__label {
    font-size: .8rem;
    color: $dark;
}

.select-menu__value {
    height: 100%;
    width: 100%;
    cursor: pointer;
    padding-top: 5px;
    padding-bottom: 5px;
    display: flex;
    align-items: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.select-menu__items {
    position: absolute;
    left: -1px;
    width: calc(100% + 2px);
    background-color: transparent;
    z-index: 3;
    border-radius: $radius;
    border: 1px solid lightgray;
    box-shadow: 0 1px 5px rgba(black, .3);
    transition: all .5s ease-in-out;

    &:not(.top) {
        top: calc(100% + 1px);
    }

    &.top {
        bottom: 100%;
    }

    &.controled {
        max-height: 50vh;
        overflow-y: auto;

        &::-webkit-scrollbar {
            width: 1em;
            background-color: $light;
        }
        
        &::-webkit-scrollbar-thumb {
        background-color: lightgray;
        border-right: none;
        border-left: none;
        }
    }
}

.select-menu__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 7px;
    background-color: #fff;
    border-bottom: 1px solid $gray;
    user-select: none;
    -moz-user-select: none;
    color: $dark;

    &:first-child {
        border-top-left-radius: $radius;
        border-top-right-radius: $radius;
    }

    &:last-child {
        border-bottom: none;
        border-bottom-left-radius: $radius;
        border-bottom-right-radius: $radius;
    }

    &:hover {
        background-color: $lightgray;
        transition: all .2s ease-in-out;
        cursor: pointer;
    }

    &:hover > .select-menu__subitems {
        display: block;
    }

    &.active {
        font-weight: bold;
    }

    & img {
        max-width: 106px;
        max-height: 30px;
    }
}

.select-menu__subitem-title {
    text-align: center;
    padding: 8px;
    font-size: 1.1rem;
    font-weight: bold;
}

.select-menu__subitems {
    display: none;
    position: absolute;
    left: calc(100% + 1px);
    top: -1px;
    background-color: #fff;
    border: 1px solid lightgray;
    box-shadow: 0 1px 5px rgba(black, .3);
    z-index: 3;
    max-height: calc(100% + 2px);
    min-height: calc(100% + 2px);
    overflow-y: auto;
    border-radius: $radius;

    &::-webkit-scrollbar {
        width: 1em;
        background-color: $light;
    }
     
    &::-webkit-scrollbar-thumb {
      background-color: lightgray;
      border-right: none;
      border-left: none;
    }
}

.select-menu__subitem {
    display: flex;
    align-items: center;
    padding: 8px;
    min-width: 450px;
    border-bottom: 1px solid $gray;

    &:first-child {
        border-top-left-radius: $radius;
        border-top-right-radius: $radius;
    }

    &:last-child {
        border-bottom: none;
        border-bottom-left-radius: $radius;
        border-bottom-right-radius: $radius;
    }

    &:active {
        transform: scale(.97);
    }

    &:hover {
        background-color: $lightgray;
        transition: all .2s ease-in-out;
        cursor: pointer;
    }

    &.active {
        font-weight: bold;
    }
}

.select-menu-enter {
    opacity: 0;
    transform: translateY(-5%);
}

.select-menu-enter-active {
    opacity: 1;
    transform: translateY(0%);
    transition: opacity 300ms, transform 300ms;
}

.select-menu-exit {
    opacity: 1;
    transform: scale(1);
}

.select-menu-exit-active {
    opacity: 0;
    transform: scale(0.9);
    transition: opacity 300ms, transform 300ms;
}