.rui-select {
    &.max-height {
        .rui-dropdown__content {
            overflow-y: auto;
            &::-webkit-scrollbar {
                width: 3.5px;
                height: 3.5px;
                background-color: $lightgray;
                border-radius: $radius;
            }
            
            &::-webkit-scrollbar-thumb {
              background-color: lightgray;
              outline: 1px solid #fff;
            }
        }
    }

    .rui-select__list {
        position: relative;
    }
}

.rui-select__menu {
    outline: none;
    padding: 10px 0;

    .rui-list-item {
        .rui-select__next-icon {
            margin-right: 0 !important;
            svg {
                width: 20px;
                height: 20px;
                path {
                    fill: gray;
                }
            }
        }
    }

    .rui-list-item.active {
        border-right: 1px !important;
        border-left: 1px !important;
    }

    .rui-list-item:first-child {
        border-top-left-radius: 0 !important;
        border-top-right-radius: 0 !important;
    }

    .rui-list-item:last-child {
        border-bottom-left-radius: 0 !important;
        border-bottom-right-radius: 0 !important;
    }

    .rui-select__submenu {
        position: absolute;
        top: -10px;
        left: calc(100% + .4px);
        width: 100%;
        box-shadow: 2px 1px 2px rgba(lightgray, .1);
        border-radius: $radius;

        .rui-select__submenu-list:not(.dark) {
            background-color: #fff;
            padding: 10px 0;
        }
    }
}

.rui-select__multiple {
    width: 100%;
    
    label {
        display: block;
        font-size: .85rem;
        user-select: none;
        -moz-user-select: none;
        transition: all .2s ease-in-out;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        padding: 3px 0;
        color: $dark;
        cursor: pointer;
    }

    .rui-select__multiple-items {
        outline: none;
        min-height: $defaultSize;
        border: 1px solid lightgray;
        border-radius: $radius;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: $lightgray;

        &.tile {
            border-radius: 0;
        }
    
        &.rounded {
            border-radius: 60px;
        }
    
        &.smooth {
            border-radius: $radius * 2.3;
        }

        &.primary {
            &:focus,
            &:hover {
                border-color: $primary;
                background-color: #fff;
            }

            &:focus {
                box-shadow: 0 0 3px 1px rgba($primary, .3);
            }

            &:hover {
                transition: all .2s ease-in-out;

                i {
                    svg {
                        path {
                            fill: $primary;
                        }
                    }
                }
            }
        }

        &.info {
            &:focus,
            &:hover {
                border-color: $info;
                background-color: #fff;
            }

            &:focus {
                box-shadow: 0 0 3px 1px rgba($info, .3);
            }

            &:hover {
                transition: all .2s ease-in-out;

                i {
                    svg {
                        path {
                            fill: $info;
                        }
                    }
                }
            }
        }

        &.error {
            &:focus,
            &:hover {
                border-color: $error;
                background-color: #fff;
            }

            &:focus {
                box-shadow: 0 0 3px 1px rgba($error, .3);
            }

            &:hover {
                transition: all .2s ease-in-out;

                i {
                    svg {
                        path {
                            fill: $error;
                        }
                    }
                }
            }
        }

        &.success {
            &:focus,
            &:hover {
                border-color: $success;
                background-color: #fff;
            }

            &:focus {
                box-shadow: 0 0 3px 1px rgba($success, .3);
            }

            &:hover {
                transition: all .2s ease-in-out;

                i {
                    svg {
                        path {
                            fill: $success;
                        }
                    }
                }
            }
        }

        i {
            svg {
                path {
                    fill: gray;
                }
            }
        }

        .rui-select__multiple-placeholder {
            height: 100%;
            width: 100%;
            text-align: left;
            user-select: none;
            -moz-user-select: none;
        }

        &:not(.medium):not(.large) {
            .rui-select__multiple-placeholder {
                font-size: $defaultFont;
                color: $dark;
            }

            svg {
                min-width: 18px;
                min-height: 18px;
                width: 18px;
                height: 18px;
            }
        }
    
        &.medium {
            .rui-select__multiple-placeholder {
                font-size: $mediumFont;
                color: $dark;
            }

            svg {
                min-width: 20px;
                min-height: 20px;
                width: 20px;
                height: 20px;
            }
        }
    
        &.large {
            .rui-select__multiple-placeholder {
                font-size: $largeFont;
                color: $dark;
            }

            svg {
                min-width: 20px;
                min-height: 20px;
                width: 20px;
                height: 20px;
            }
        }

        .rui-btn {
            border-radius: 0;
            margin: 0;
        }

        .rui-input-prefix {
            margin-left: 5px;
        }
        
        .rui-input-suffix {
            .rui-icon {
                margin-right: 5px;
            }
        }
    }

    .rui-select__multiple-item {
        width: 100%;
        height: 100%;
        display: flex;
        flex-wrap: wrap;
    }
}

.rui-select__submenu-enter {
    opacity: 0;
    transform: translateX(-3%);
}

.rui-select__submenu-enter-active {
    opacity: 1;
    transform: translateX(0%);
    transition: opacity 300ms, transform 300ms;
}

.rui-select__submenu-exit {
    opacity: 1;
    transform: translateX(0%);
}

.rui-select__submenu-exit-active {
    opacity: 0;
    transform: translateX(-3%);
    transition: opacity 300ms, transform 300ms;
}