.rui-skeleton {
    display: inline-block;
    background: linear-gradient(-90deg, #F0F0F0 0%, #F8F8F8 50%, #F0F0F0 100%);
    &.active {
        background: #eee;//linear-gradient(-90deg, #C1C1C1 0%, #F8F8F8 50%, #C1C1C1 100%);
    }
    background-size: 400% 400%;
    animation: ruiPulse 1.2s ease-in-out infinite;
    border-radius: $radius;
    
    &.rounded {
        border-radius: 50%;
    }
}

@keyframes ruiPulse {
    0% { background-position: 0% 0%;}
    100% { background-position: -135% 0%;}
}