.rui-snackbar__container {
    position: fixed;
    left: 0;
    display: flex;
    width: 100%;
    justify-content: center;
    z-index: 9999;

    &.top {
        top: 0;
    }

    &.bottom {
        bottom: 0;
    }
}

.rui-snackbar {
    min-height: 30px;
    padding: 10px;
    font-size: $defaultFont;
    user-select: none;
    cursor: pointer;

    &.info {
        background-color: $info;
        color: white;
    }

    &.success {
        background-color: $success;
        color: white;
    }

    &.error {
        background-color: $error;
        color: white;
    }
}

@media (max-width: 529px) {
    .rui-snackbar {
        width: 100%;
        margin: 0;
        border-radius: 0;
    }
}

@media (min-width: 530) {
    .rui-snackbar {
        max-width: 350px;
        border-radius: $radius;
        margin: 10px 0;
    }
}

.rui-snackbar-enter {
    opacity: 0;
    transform: translateY(-10%);
}

.rui-snackbar-enter-active {
    opacity: 1;
    transform: translateY(0%);
    transition: opacity 300ms, transform 300ms;
}

.rui-snackbar-exit {
    opacity: 1;
    transform: translateY(0%);
}

.rui-snackbar-exit-active {
    opacity: 0;
    transform: translateY(-10%);
    transition: opacity 300ms, transform 300ms;
}

.rui-snackbar-bottom-enter {
    opacity: 0;
    transform: translateY(-10%);
}

.rui-snackbar-enter-bottom-active {
    opacity: 1;
    transform: translateY(0%);
    transition: opacity 300ms, transform 300ms;
}

.rui-snackbar-bottom-exit {
    opacity: 1;
    transform: translateY(1%);
}

.rui-snackbar-bottom-exit-active {
    opacity: 0;
    transform: translateY(-10%);
    transition: opacity 300ms, transform 300ms;
}