.table-container {
    position: relative;
    width: 100%;

    &.bordered {
        border: 1px solid lightgray;
        border-radius: $radius;
        overflow: hidden;
    }
}

@media (max-width: $xs) {
    .table {
        td {
            font-size: .75rem;
        }
    }
}

@media (min-width: $xs + 1) {
    .table {
        td {
            font-size: .9rem;
        }
    }
}

.table {
    width: 100%;
    border-collapse: collapse;

    tr, th, td {
        border-bottom: 1px solid lightgray;
        border-left: none;
        border-right: none;
        border-collapse: collapse;
        font-weight: normal;
    }

    th {
        padding: 10px;
        font-size: .8rem;
        background-color: $lightgray;
        text-align: center;
        position: sticky;
        top: 0;
        z-index: 2;
        user-select: none;
        -moz-user-select: none;
    }
    
    td {
        padding: 10px;
        text-align: center;
    }

    tr.small > td {
        font-size: .75rem;
    }

    tr:not(.no-hover):hover {
        background-color: $lightgray;
        transition: all .2s ease-in-out;
    }

    td.bordered {
        border-right: 1px solid lightgray;
    }
}

.table-header__filter {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: .75rem !important;
    position: relative;
    position: relative;

    &.active {
        color: $info;

        path {
            fill: $info;
        }
    }

    & > select {
        width: 100%;
        height: 30px;
        margin-left: 5px;
        margin-top: 2px;
        font-size: .75rem;
        outline: none;
        opacity: 0;
        position: absolute;
        right: 0;
        z-index: 3;
        cursor: pointer;
    }

    & > svg {
        margin-left: 2px;
        min-width: 10px;
        min-height: 10px;
    }
}

.table__menu-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    &:hover {
        .menu {
            display: block;
        }
    }
}

.table-footer {
    background-color: $lightgray;
    padding: 10px;
}

.table-empty {
    position: absolute;
    top: calc(50% - 50px);
    left: calc(50% - 50px);

    svg {
        width: 100px;
        height: 100px;
    }

    path {
        fill: $lightgray;
    }
}