.rui-table__container {
    position: relative;
    width: 100%;
    border-radius: $radius;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    &::-webkit-scrollbar {
        width: 3.5px;
        height: 3.5px;
        background-color: $lightgray;
        border-radius: $radius;
    }
    
    &::-webkit-scrollbar-thumb {
      background-color: lightgray;
      outline: 1px solid #fff;
    }

    .rui-table__header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-top-left-radius: $radius;
        border-top-right-radius: $radius;

        .rui-input-field,
        .rui-table__title {
            flex-grow: 1;
            width: 50%;
        }
    }

    &.bordered {
        .rui-table {
            border: 1px solid lightgray;
            overflow: auto;
        }
    }

    .rui-pagination {
        padding: 10px 0;
        padding-left: 5px;
    }

    &.right > .rui-pagination {
        justify-content: flex-end;
        padding-left: 0;
        padding-right: 5px;
    }

    &.grid {
        .rui-table {
            th, td {
                border: 1px solid lightgray;
                border-top: none;
            }

            th:first-child,
            td:first-child {
                border-left: none;
            }

            th:last-child,
            td:last-child {
                border-right: none;
            }
        }
    }

    &:not(.medium):not(.large) {
        .rui-table {
            tr, td {
                height: $defaultSize;
                font-size: $defaultFont;
                padding-top: 5px;
                padding-bottom: 5px;
            }
        }

        .rui-table__footer,
        .rui-table tr div {
            font-size: $defaultFont;
            div, span, strong {
                font-size: $defaultFont;
            }
        }
    }

    &.medium {
        .rui-table {
            tr, td {
                height: $mediumSize;
                font-size: $mediumFont;
            }
        }

        .rui-table__footer {
            font-size: $mediumFont;

            div, span, strong {
                font-size: $mediumFont;
            }
        }
    }

    &.large {
        .rui-table {
            tr, td {
                height: $largeSize;
                font-size: $largeFont;
            }
        }

        .rui-table__footer {
            font-size: $largeFont;

            div, span, strong {
                font-size: $largeFont;
            }
        }
    }

    &.primary {
        .rui-table__footer {
            background-color: $primary;
            color: #fff;
        }

        .rui-table.stripped {
            tbody > tr:nth-child(even) {
                background-color: rgba($primary, .1);
            }
        }

        th.indexed,
        td.indexed {
            background-color: $primary;
            color: #fff;
        }
    }

    &.info {
        .rui-table__footer {
            background-color: $info;
            color: #fff;
        }

        .rui-table.stripped {
            tbody > tr:nth-child(even) {
                background-color: rgba($info, .1);
            }
        }

        th.indexed,
        td.indexed {
            background-color: $info;
            color: #fff;
        }
    }

    &.success {
        .rui-table__footer {
            background-color: $success;
            color: #fff;
        }

        .rui-table.stripped {
            tbody > tr:nth-child(even) {
                background-color: rgba($success, .1);
            }
        }

        th.indexed,
        td.indexed {
            background-color: $success;
            color: #fff;
        }
    }

    &.error {
        .rui-table__footer {
            background-color: $error;
            color: #fff;
        }

        .rui-table.stripped {
            tbody > tr:nth-child(even) {
                background-color: rgba($error, .1);
            }
        }

        th.indexed,
        td.indexed {
            background-color: $error;
            color: #fff;
        }
    }

    &:not(.dark) {
        .rui-table {
            thead {
                background-color: lightgray;
            }
        }

        .rui-table__footer {
            color: #000;
        }
    }

    &.dark {
        th.indexed,
        td.indexed,
        th {
            background-color: $night;
            color: #fff;
        }

        .rui-table {
            tr {
                color: #fff;
            }

            thead {
                background-color: gray;
            }
        }

        .rui-table__footer,
        .rui-table__header {
            background-color: $night;
        }

        .rui-table.stripped {
            tr {
                color: #fff;
            }
            
            tr:nth-child(even) {
                background-color: rgba(lightgray, .1);
            }
        }

        td.indexed:not(:first-child),
        td:not(:first-child) {
            color: #fff;
        }
    }
}

.rui-table {
    margin: 0 auto;
    width: 100%;
    border-collapse: collapse;
    border-radius: $radius;

    &.stripped {
        tbody > tr:nth-child(even) {
            background-color: $lightgray;
        }
    }

    thead, tr {
        border-top-left-radius: $radius;
        border-top-right-radius: $radius;
        
        .icon {
            cursor: pointer;
        }

        .icon:active {
            transform: scale(.97);
        }
    }

    th {
        position: sticky;
        top: 0;
        color: gray;
        text-transform: uppercase;
        font-weight: bold;
    }

    th:first-child {
        border-top-left-radius: $radius;
    }

    th:last-child {
        border-top-right-radius: $radius;
    }

    th.bordered {
        border-top: 1px solid lightgray;
    }

    tr, th, td {
        border-bottom: 1px solid lightgray;
        border-left: none;
        border-right: none;
        border-collapse: collapse;
        padding: 0 10px;
    }

    td {
        color: #000;
        font-weight: normal;
    }

    th.indexed,
    td.indexed {
        border-right: 1px solid lightgray;
        background-color: $lightgray;
        width: 45px;
        text-align: center !important;
    }

    &:not(.center):not(.right) {
        th {
            text-align: left;
        }
    }

    &.center {
        td, th {
            text-align: center;
            div {
                justify-content: center;
            }
        }
    }

    &.right {
        td, th {
            text-align: right;
            div {
                justify-content: flex-end;
            }
        }
    }

    &.primary {
        thead {
            border-color: $primary; 
        }

        th {
            background-color: $primary;
            color: #fff;
        }
    }

    &.info {
        th {
            background-color: $info;
            color: #fff;
        }
    }

    &.success {
        th {
            background-color: $success;
            color: #fff;
        }
    }

    &.error {
        th {
            background-color: $error;
            color: #fff;
        }
    }

    th {
        padding: 0 10px;
        font-size: .85rem;
        background-color: $lightgray;
        position: sticky;
        top: 0;
        // z-index: 2;
        user-select: none;
        -moz-user-select: none;
    }

    &:not(.no-hover):not(.dark) tr:hover {
        background-color: $lightgray;
        transition: all .2s ease-in-out;
    }

    &.primary:not(.no-hover) tr:hover {
        background-color: rgba($primary, .1);
        transition: all .2s ease-in-out;
    }

    &.info:not(.no-hover) tr:hover {
        background-color: rgba($info, .1);
        transition: all .2s ease-in-out;
    }

    &.success:not(.no-hover) tr:hover {
        background-color: rgba($success, .1);
        transition: all .2s ease-in-out;
    }

    &.error:not(.no-hover) tr:hover {
        background-color: rgba($error, .1);
        transition: all .2s ease-in-out;
    }

    &.dark:not(.no-hover) tr:hover {
        background-color: rgba(lightgray, .2);
        transition: all .2s ease-in-out;
    }

    td.bordered {
        border-right: 1px solid lightgray;
    }
}

.rui-table-header__filter {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: .75rem !important;
    position: relative;
    position: relative;

    &.active {
        color: $info;

        path {
            fill: $info;
        }
    }

    & > select {
        width: 100%;
        height: 30px;
        margin-left: 5px;
        margin-top: 2px;
        font-size: .75rem;
        outline: none;
        opacity: 0;
        position: absolute;
        right: 0;
        cursor: pointer;
    }

    & > svg {
        margin-left: 2px;
        min-width: 10px;
        min-height: 10px;
    }
}

.rui-table__menu-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    &:hover {
        .menu {
            display: block;
        }
    }
}

.rui-table__placeholder {
    position: absolute;
    top: 70px;
    left: calc(50% - 22.5px);

    svg {
        width: 45px;
        height: 45px;
    }

    path {
        fill: $lightgray;
    }
}