.rui-table-container {
    position: relative;
    width: 100%;
    border-radius: $radius;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .rui-table-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-top-left-radius: $radius;
        border-top-right-radius: $radius;

        .rui-input-field,
        .rui-table-title {
            flex-grow: 1;
            width: 50%;
        }
    }

    .rui-pagination {
        padding: 10px 0;
        padding-left: 5px;
    }

    &.right > .rui-pagination {
        justify-content: flex-end;
        padding-left: 0;
        padding-right: 5px;
    }

    &.primary {
        .rui-table.stripped {
            tbody > tr:nth-child(even) {
                background-color: rgba($primary, .1);
            }
        }

        th.indexed,
        td.indexed {
            background-color: $primary;
            color: #fff;
        }
    }

    &.info {
        .rui-table.stripped {
            tbody > tr:nth-child(even) {
                background-color: rgba($info, .1);
            }
        }

        th.indexed,
        td.indexed {
            background-color: $info;
            color: #fff;
        }
    }

    &.success {
        .rui-table.stripped {
            tbody > tr:nth-child(even) {
                background-color: rgba($success, .1);
            }
        }

        th.indexed,
        td.indexed {
            background-color: $success;
            color: #fff;
        }
    }

    &.error {
        .rui-table.stripped {
            tbody > tr:nth-child(even) {
                background-color: rgba($error, .1);
            }
        }

        th.indexed,
        td.indexed {
            background-color: $error;
            color: #fff;
        }
    }

    &:not(.dark) {
        .rui-table {
            thead {
                background-color: lightgray;
            }
        }
    }

    &.dark {
        .rui-table__header {
            background-color: $night;
        }
    }
}

.rui-table-header-filter {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: .75rem !important;
    position: relative;
    position: relative;

    &.active {
        color: $info;

        path {
            fill: $info;
        }
    }

    & > select {
        width: 100%;
        height: 30px;
        margin-left: 5px;
        margin-top: 2px;
        font-size: .75rem;
        outline: none;
        opacity: 0;
        position: absolute;
        right: 0;
        cursor: pointer;
    }

    & > svg {
        margin-left: 2px;
        min-width: 10px;
        min-height: 10px;
    }
}

.rui-table-menu-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    &:hover {
        .menu {
            display: block;
        }
    }
}

.rui-table-placeholder {
    position: absolute;
    top: 70px;
    left: calc(50% - 22.5px);

    svg {
        width: 45px;
        height: 45px;
    }

    path {
        fill: $lightgray;
    }
}


// Table styles
.rui-table {
    margin: 0 auto;
    width: 100%;
    border-collapse: collapse;
    border-radius: $radius;

    &.stripped {
        tbody > tr:nth-child(even) {
            background-color: $lightgray;
        }
    }

    &.bordered {
        border: 1px solid #ddd;
        overflow: auto;
    }

    &.grid {
        th, td {
            border: 1px solid #ddd;
            border-top: none;
        }

        th:first-child,
        td:first-child {
            border-left: none;
        }

        th:last-child,
        td:last-child {
            border-right: none;
        }
    }

    &.dark {
        th.indexed,
        td.indexed,
        th {
            background-color: $night;
            color: #fff;
        }

        tr {
            color: #fff;
        }

        &.stripped {
            tr {
                color: #fff;
            }
            
            tr:nth-child(even) {
                background-color: rgba(lightgray, .1);
            }
        }

        td {
            color: #fff;
        }
    }

    thead, tr {
        .icon {
            cursor: pointer;
        }

        .icon:active {
            transform: scale(.97);
        }
    }

    &.sticky {
        th {
            position: sticky;
            top: 0;
        }
    }

    th {
        padding: 0 10px;
        font-size: .85rem;
        background-color: $lightgray;
        color: $dark;
        font-weight: bold;
        user-select: none;
        -webkit-user-select: none;
        -moz-user-select: none;
        -o-user-select: none;

        &.bordered {
            border-top: 1px solid #ddd;
        }
    }

    tr, th, td {
        border-bottom: 1px solid #ddd;
        border-left: none;
        border-right: none;
        border-collapse: collapse;
        padding: 0 10px;
    }

    tr, td {
        height: $defaultSize;
        font-size: $defaultFont;
        padding-top: 5px;
        padding-bottom: 5px;
    }

    tr div {
        font-size: $defaultFont;
        div, span, strong {
            font-size: $defaultFont;
        }
    }

    td {
        color: #000;
        font-weight: normal;

        &.bordered {
            border-right: 1px solid lightgray;
        }
    }

    th.indexed,
    td.indexed {
        border-right: 1px solid #ddd;
        width: 45px;
        text-align: center !important;
    }

    &:not(.primary):not(.info):not(.success):not(.error):not(.dark) {
        th.indexed,
        td.indexed {
            background-color: $lightgray;
        }
    }

    th, td {
        &.center {
            text-align: center !important;
        }

        &.left {
            text-align: left !important;
        }

        &.right {
            text-align: right !important;
        }
    }

    &:not(.center):not(.right) {
        th, td {
            text-align: left;
        }
    }

    &.center {
        td, th {
            text-align: center;
            div {
                justify-content: center;
            }
        }
    }

    &.right {
        td, th {
            text-align: right;
            div {
                justify-content: flex-end;
            }
        }
    }

    &.primary {
        th {
            background-color: $primary;
            color: #fff;
            &.indexed {
                background-color: $primary;
            }
        }

        td.indexed {
            background-color: $primary;
        }
    }

    &.info {
        th {
            background-color: $info;
            color: #fff;
            &.indexed {
                background-color: $info;
            }
        }
        td.indexed {
            background-color: $info;
        }
    }

    &.success {
        th {
            background-color: $success;
            color: #fff;
            &.indexed {
                background-color: $success;
            }
        }
        td.indexed {
            background-color: $success;
        }
    }

    &.error {
        th {
            background-color: $error;
            color: #fff;
            &.indexed {
                background-color: $error;
            }
        }
        td.indexed {
            background-color: $error;
        }
    }

    &:not(.no-hover):not(.dark) tr:hover {
        background-color: $lightgray;
        transition: all .2s ease-in-out;
    }

    &.primary:not(.no-hover) tr:hover {
        background-color: rgba($primary, .1);
        transition: all .2s ease-in-out;
    }

    &.info:not(.no-hover) tr:hover {
        background-color: rgba($info, .1);
        transition: all .2s ease-in-out;
    }

    &.success:not(.no-hover) tr:hover {
        background-color: rgba($success, .1);
        transition: all .2s ease-in-out;
    }

    &.error:not(.no-hover) tr:hover {
        background-color: rgba($error, .1);
        transition: all .2s ease-in-out;
    }

    &.dark:not(.no-hover) tr:hover {
        background-color: rgba(lightgray, .2);
        transition: all .2s ease-in-out;
    }
}