.tooltip {
    position: relative;
    display: inline-flex;
    justify-content: center !important;

    &:hover {
        .tooltip__text {
            visibility: visible;
            opacity: 1;
            font-size: $defaultFont;
        }
    }

    .tooltip__text {
        visibility: hidden;
        white-space: nowrap;
        background-color: rgba(black, .6);
        color: #fff;
        text-align: center;
        border-radius: $radius;
        padding: 5px;
        position: absolute;
        z-index: 50;
        font-size: $defaultFont;
        opacity: 0;
        transition: opacity 0.3s ease-in-out;
    }

    &:not(.left):not(.right):not(.bottom) {
        .tooltip__text {
            bottom: calc(100% + 5px);

            &::after {
                content: " ";
                position: absolute;
                top: 100%;
                left: 50%;
                margin-left: -5px;
                border-width: 5px;
                border-style: solid;
                border-color: rgba(black, .6) transparent transparent transparent;
            }
        }
    }

    &.right {
        align-items: center !important;

        .tooltip__text {
            left: calc(100% + 5px);

            &::after {
                content: " ";
                position: absolute;
                top: 50%;
                right: 100%;
                margin-top: -5px;
                border-width: 5px;
                border-style: solid;
                border-color: transparent rgba(black, .6) transparent transparent;
            }
        }
    }

    &.bottom {
        justify-content: center !important;

        .tooltip__text {
            top: calc(100% + 5px);

            &::after {
                content: " ";
                position: absolute;
                bottom: 100%;
                left: 50%;
                margin-left: -5px;
                border-width: 5px;
                border-style: solid;
                border-color: transparent transparent rgba(black, .6) transparent;
            }
        }
    }

    &.left {
        align-items: center !important;

        .tooltip__text {
            right: calc(100% + 5px);
    
            &::after {
                content: " ";
                position: absolute;
                top: 50%;
                left: 100%; 
                margin-top: -5px;
                border-width: 5px;
                border-style: solid;
                border-color: transparent transparent transparent rgba(black, .6);
            }
        }
    }
}