@import 'reset.css';
@import 'constants';
@import 'colors';

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

html {
    scroll-behavior: smooth !important;
    
    &::-webkit-scrollbar {
        width: 3.5px;
        height: 3.5px;
        background-color: $lightgray;
        border-radius: $radius;
    }
    
    &::-webkit-scrollbar-thumb {
      background-color: lightgray;
      outline: 1px solid #fff;
    }
}
 
@import 'helpers';
@import 'app';
@import 'header';
@import 'content';
@import 'btn';
@import 'page';
@import 'drawer';
@import 'list';
@import 'tooltip';
@import 'checkbox';
@import 'input';
@import 'uploader';
@import 'pagination';
@import 'select';
@import 'table';
@import 'modal';
@import 'dropdown';
@import 'card';
@import 'switch';
@import 'tag';
@import 'badge';
@import 'radio';
@import 'icon';
@import 'preloader';
@import 'link';
@import 'code';
@import 'font';
@import 'margins';
@import 'breakpoints';
@import 'collapse';
@import 'popover';
@import 'animations';
@import 'dialog';
@import 'timeline';
@import 'tabs';
@import 'rating';